@use 'sass:map';
@import '../../../../styles/shared';

:host {
	display: flex;
	flex-direction: column;
	gap: map.get($spacers, 3);
	padding: map.get($spacers, 3);
}

.cards {
	display: flex;
	flex-direction: column;
	gap: map.get($spacers, 3);
	padding: 2px;
	overflow: auto;
	min-height: 120px;
	max-height: min(calc(100vh - 280px), #{$nav-messages-popover-max-height});
}
