@import "../../../styles/bootstrap/shared";

:host {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.header-breadcrumb,
.header-breadcrumb-separator {
	padding-left: $spacer * .5;

	&:first-child {
		padding-left: 0
	}
}
