<button
	class="dropdown-toggle dropdown-toggle-hide-caret"
	cdkOverlayOrigin
	#trigger
	(click)="isOpen = !isOpen"
>
	<span
		class="filter fa-solid fa-list"
		container="body"
		placement="bottom"
		tooltip="Apply Filters"
		[hidden]="isFiltered"
	></span>
	<span
		class="filter fa-solid fa-filter"
		container="body"
		placement="bottom"
		tooltip="Edit Filters"
		[hidden]="!isFiltered"
	></span>
</button>

<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOpen]="isOpen"
	[cdkConnectedOverlayOrigin]="trigger"
	(overlayOutsideClick)="isOpen = false"
>
	<div class="dropdown-menu d-flex flex-column" cdkTrapFocus cdkTrapFocusAutoCapture>
		<div class="my-3">
			<ng-select
				name="teamAdmin"
				bindLabel="name"
				placeholder="Search..."
				style="width: 200px"
				[(ngModel)]="selectedValue"
				[items]="(values$ | async) || []"
				[loading]="loading"
				[typeahead]="input$"
				(ngModelChange)="onFilterChange()"
			>
			</ng-select>
		</div>
	</div>
</ng-template>
