<div class="modal-header">
	<h3>
		<span>Changes to {{ auditEntry?.audit?.auditType }} by {{ auditEntry?.audit?.actor?.username }} on {{ auditEntry?.created | utcDate }}</span>
		<span class="pull-right">
				<a class="btn-icon no-href"
				   (click)="modalRef.hide()"
				   tooltip="Close"
				   placement="bottom"
				   container="body">
				   <i class="fa fa-times"></i>
				</a>
			</span>
	</h3>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<h4>Before</h4>
			<pre>{{ sortObjectKeys(auditEntry?.audit?.object?.before) | json }}</pre>
		</div>
		<div class="col-md-6">
			<h4>After</h4>
			<pre>{{ sortObjectKeys(auditEntry?.audit?.object?.after) | json }}</pre>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-link" (click)="modalRef.hide()">Close</button>
</div>
