@import '../../../common/paging/quick-filters/quick-filters.component';

.audit-filter {

	label {
		float: left;
		line-height: 2;
		padding-right: 5px;
		text-align: right;
		width: 115px;

		&.column-option {
			width: auto;
		}
	}

}
