<ng-container cdkColumnDef [sticky]="sticky()" [stickyEnd]="stickyEnd()">
	<th cdk-header-cell *cdkHeaderCellDef>
		<asy-header-sort [sortable]="sortable()">
			{{ header() ?? (name | titlecase) }}
		</asy-header-sort>
		@if (headerTemplate(); as tpl) {
			<ng-template
				[ngTemplateOutlet]="tpl"
				[ngTemplateOutletContext]="{
					header: header()
				}"
			/>
		}
		<ng-content />
	</th>
	<td class="text-nowrap" cdk-cell *cdkCellDef="let obj">
		{{ obj[name] || defaultValue() }}
	</td>
</ng-container>
