@for (alert of alertService.alerts$ | async; track alert; let i = $index) {
	<div
		class="alert alert-{{ alert.type }} alert-dismissible d-flex"
		role="alert"
		@animateAddRemove
	>
		<span class="fa-solid fa-fw system-alert-icon system-alert-icon-{{ alert.type }}"></span>
		<div class="system-alert-content">
			<div class="system-alert-message">{{ alert.msg }}</div>
			@if (alert.subtext) {
				<small>{{ alert.subtext }}</small>
			}
		</div>
		<button class="btn-close" type="button" aria-label="Close" (click)="clearAlert(i)"></button>
	</div>
}
