@import '../../../styles/overrides';
@import '../../../styles/shared';

:host ::ng-deep .alert {
	.alert-icon {
		margin-left: -5px;
		margin-right: 5px;

		.fa-fw {
			font-size: 30px;
		}
	}

	.system-alert-message {
		@include font-normal(16px);
		color: $ux-color-body-text;
	}

	.system-alert-subtext {
		@include font-normal(12px);
		color: $ux-color-body-text;
	}

	&.alert-success {
		@include border($ux-color-alert-success, 2px, 3px);
		background: $ux-color-white;

		.alert-icon {
			.fa-fw {
				color: $ux-color-alert-success;
			}
		}
	}

	&.alert-danger {
		@include border($ux-color-alert-error, 2px, 3px);
		background: $ux-color-white;

		.alert-icon {
			.fa-fw {
				color: $ux-color-alert-error;
			}
		}
	}

	&.alert-warning {
		@include border($ux-color-alert-warning, 2px, 3px);
		background: $ux-color-white;

		.alert-icon {
			.fa-fw {
				color: $ux-color-alert-warning;
			}
		}
	}

	button {
		&.close {
			color: $ux-color-body-text;
			opacity: 1;
			padding: 1rem 1.25rem;
		}
	}
}
