@import '../../../styles/shared';

$flyout-border-top: 8px !default;
$flyout-box-shadow: 0 0.25rem 0.5rem rgba(var(--bs-body-bg-rgb), 0.2) !default;

$flyout-top: 24px !default;
$flyout-bottom: 24px * 2 !default;

:host {
	position: fixed;
	right: 0;
	top: $flyout-top;
	@include transition(left 0.15s ease-in-out, right 0.15s ease-in-out);
	z-index: $zindex-popover;

	&[placement='right-bottom'] {
		right: 0;
		top: auto;
		bottom: $flyout-bottom;
		left: var(--nav-open-width);
	}

	&[placement='left-top']
	{
		right: auto;
		left: var(--nav-open-width);
	}

	&[placement='left-bottom'] {
		right: auto;
		left: var(--nav-open-width);
		top: auto;
		bottom: $flyout-bottom;
	}

	&[placement='top-left'] {
		right: auto;
		top: $flyout-top;
		left: var(--nav-open-width);
	}

	&[placement='top-right'] {
		top: $flyout-top;
		left: var(--nav-open-width);
	}

	&[placement='bottom-left'] {
		right: auto;
		top: auto;
		bottom: $flyout-bottom;
		left: var(--nav-open-width);
	}

	&[placement='bottom-right'] {
		right: 0;
		top: auto;
		bottom: $flyout-bottom;
		left: var(--nav-open-width);
	}
}

.navbar-close {
	:host[placement='left-top'],
	:host[placement='left-bottom'],
	:host[placement='top-left'],
	:host[placement='bottom-left'] {
		left: var(--nav-closed-width);
	}
}

.flyout {
	background: var(--bs-body-bg);

	&.flyout-left-top,
	&.flyout-left-bottom, {
		flex-direction: row-reverse;
	}


	&.flyout-top-left,
	&.flyout-top-right {
		flex-direction: column-reverse;
	}

	&.flyout-bottom-left,
	&.flyout-bottom-right {
		flex-direction: column;

		.flyout-btn {
			border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;

			.fa-angle-down {
				transform: rotate(180deg);
			}
		}

		&.flyout-open {
			.flyout-btn .fa-angle-down {
				transform: rotate(0deg);
			}
		}
	}

	&.flyout-open {
		.flyout-btn .fa-angle-down {
			transform: rotate(180deg);
		}
	}
}

.flyout-btn {
	position: absolute;
	box-shadow: none;
	border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);

	.flyout-left-top & {
		transform: rotate(-90deg);
		transform-origin: 100% 0;
	}

	.flyout-left-bottom & {
		bottom: 0;
		transform: translate(100%, 100%) rotate(-90deg);
		transform-origin: 0 0;
	}

	.flyout-right-top & {
		transform: rotate(90deg);
		transform-origin: 0 0;
	}

	.flyout-right-bottom & {
		bottom: 0;
		transform: translate(-100%, 100%) rotate(90deg);
		transform-origin: top right;
	}

	.flyout-top-left & {
		transform: translateY(100%);
	}

	.flyout-top-right & {
		right: 0;
		transform: translateY(100%);
	}

	.flyout-bottom-left & {
		transform: translateY(-100%);
	}

	.flyout-bottom-right & {
		right: 0;
		transform: translateY(-100%)
	}

}

.flyout-content {
	@include box-shadow(var(--bs-box-shadow));

	overflow: auto;
	max-height: calc(100vh - 80px);

	.flyout-top-left &,
	.flyout-top-right &,
	.flyout-bottom-left &,
	.flyout-bottom-right & {
		width: auto;
		max-height: calc(100vh - 100px);
	}
}
