@import '../../../theme/colors';
@import '../../../theme/fonts';
@import '../page-container/variables';

// Specify these
$nav-background-color: $color2;
$nav-closed-width: 54px;
$nav-open-width: 224px;

$nav-element-font-color: $color-text-white;
$nav-element-font-dark-color: $color-text-black;
$nav-element-font-size: 16px;
$nav-element-icon-size: 20px;
$nav-element-icon-width: 27.5px;
$nav-element-padding: 10px;
$nav-element-text-margin-left: 20px;

$nav-element-hover-color: $color3;
$nav-element-hover-background-color: $color4;

$nav-element-active-background-color: $nav-element-hover-background-color;
$nav-element-active-color: $nav-element-hover-color;
$nav-element-active-indicator-width: 4px;

$nav-element-divider-margin: 10px;

$nav-element-logo-color-bg: $color1;
$nav-element-logo-img-margin: 4px;
$nav-element-logo-img-height: 50px;

// Calculated
$nav-element-icon-margin-left: ($nav-closed-width - $nav-element-icon-width) / 2;
