@import '../../../styles/overrides';
@import '../../../styles/globals';
@import '../../../styles/colors';
@import '../../../styles/ngx-bootstrap/shared';

$tag-color: #f9f9f9 !default;
$tag-bg-color: $ux-color-primary !default;

:host ::ng-deep .ng-select {
	.ng-placeholder {
		padding-top: 2px;
		font-weight: 300;
		margin-top: 1px;
	}

	.ng-option-disabled {
		display: none !important;
	}

	.ng-arrow-wrapper {
		display: none;
	}

	.ng-select .ng-select-container {
		min-height: 2.7em !important;
	}

	.ng-value-icon {
		float: right;
		border-right: none !important;
		&:hover {
			background-color: inherit !important;
			height: 10px;
		}
	}

	.ng-value {
		background-color: $tag-bg-color !important;
		color: $tag-color !important;
		margin-bottom: 0px !important;
		margin-right: 5px !important;
		box-shadow: 0 1px 4px 1px #d4d1d1;
		height: 25px !important;
		font-size: inherit !important;
		padding: 1px !important;
		border-radius: 3px !important;
		margin-top: -4px;

		&:hover {
			background-color: $ux-color-highlight !important;
		}
	}

	.ng-select-container .ng-value-container .ng-input > input {
		height: 27px;
		margin-top: -1px;
	}
}
