@import '../../../styles/shared';
@import '../site-container/shared';

// Specify these
$nav-background-color: $ux-color-primary !default;
$nav-closed-width: $ux-nav-closed-width !default;
$nav-open-width: $ux-nav-open-width !default;

$nav-element-font-color: $ux-color-light-gray !default;
$nav-element-font-size: 16px !default;
$nav-element-icon-size: 20px !default;
$nav-element-icon-width: 27.5px !default;
$nav-element-padding: 10px !default;
$nav-element-text-margin-left: 20px !default;

$nav-element-hover-color: $ux-color-white !default;
$nav-element-hover-background-color: $ux-color-primary-medium !default;

$nav-element-active-background-color: $ux-color-primary-dark !default;
$nav-element-active-border-color: $ux-color-highlight !default;
$nav-element-active-color: $ux-color-highlight !default;
$nav-element-active-indicator-width: 4px !default;

$nav-element-divider-margin: 10px !default;

$nav-element-logo-color-bg: $ux-color-brand-background !default;
$nav-element-logo-hover-color-bg: $ux-color-primary-medium !default;
$nav-element-logo-img-margin: 4px !default;
$nav-element-logo-img-height: 50px !default;

$nav-z-index: 10000 !default;
$nav-popover-z-index: $nav-z-index + 1 !default;

$nav-popover-width: 192px !default;
$nav-messages-popover-width: 298px !default;

// Calculated
$nav-element-icon-margin-left: ($nav-closed-width - $nav-element-icon-width) / 2;
