<div class="navbar-left d-flex flex-column align-items-start"
  [ngClass]="{'navbar-open': navbarOpen}">

	<!-- Logo -->
	<ul class="nav nav-logo flex-shrink-0">

		<!-- Logo -->
		<li class="element element-logo">
			<a href="/#/" [hidden]="navbarOpen">
				<img class="logo" src="/assets/images/nav-logo-icon.png"/>
			</a>
			<a href="/#/" [hidden]="!navbarOpen">
				<img class="logo" src="/assets/images/nav-logo.png"/>
			</a>
		</li>

	</ul>

	<div class="nav-inner-scroll d-flex flex-column align-items-start flex-grow-1">

		<!-- Main Nav -->
		<ul class="nav nav-main flex-shrink-0 mb-auto">
			<ng-container *ngFor="let navbarItem of navbarItems">
			<li
				class="element"
				*hasSomeRoles="navbarItem.hasSomeRoles">
				<a tooltip="{{ navbarItem.title }}"
				   placement="left"
				   [isDisabled]="navbarOpen"
				   routerLinkActive="active-link"
				   [routerLink]="navbarItem.path">
					<span class="fa fa-fw {{ navbarItem.iconClass }}"></span>
					<span [hidden]="!navbarOpen">{{ navbarItem.title }}</span>
				</a>
			</li>
			</ng-container>
		</ul>

		<!-- Bottom Aux Nav -->
		<ul class="nav nav-aux flex-shrink-0">

			<!-- Team Nav   -->
			<li class="element nav-popover nav-popover-bottom"
				*isAuthenticated>
				<a [ngClass]="{'highlight-link': teamNavOpen}"
				   [popover]="teamNav"
				   container="body"
				   containerClass="site-nav-popover-container"
				   #teamNavPopover="bs-popover"
				   placement="left"
				   [outsideClick]="true"
				   (onShown)="teamNavOpen = true;"
				   (onHidden)="teamNavOpen = false;">
					<span class="fa fa-fw fa-users"></span>
					<span [hidden]="!navbarOpen">Teams</span>
				</a>

				<ng-template #teamNav>
					<ul class="popover-menu" role="menu">
						<!-- List Teams -->
						<li>
							<a routerLink="/teams"
							   (click)="teamNavPopover.hide()">View All</a>
						</li>
					</ul>
				</ng-template>
			</li>

			<!-- User Nav	-->
			<li class="element nav-popover nav-popover-bottom"
				*isAuthenticated>
				<a [ngClass]="{'highlight-link': userNavOpen}"
				   [popover]="userNav"
				   container="body"
				   containerClass="site-nav-popover-container"
				   #userNavPopover="bs-popover"
				   placement="left"
				   [outsideClick]="true"
				   (onShown)="userNavOpen = true;"
				   (onHidden)="userNavOpen = false;">
					<span class="fa fa-fw fa-user-circle"></span>
					<span [hidden]="!navbarOpen">{{ session?.name }}</span>
				</a>

				<ng-template #userNav>
					<ul class="popover-menu" role="menu">

						<!-- User Signout -->
						<li [hidden]="pki"><a href="/api/auth/signout">Sign out</a></li>

					</ul>
				</ng-template>
			</li>

			<!-- Admin Nav	-->
			<li class="element nav-popover nav-popover-bottom"
				*hasRole="'admin'">
				<a [ngClass]="{'highlight-link': adminNavOpen}"
				   [popover]="adminNav"
				   container="body"
				   containerClass="site-nav-popover-container"
				   #adminNavPopover="bs-popover"
				   placement="left"
				   [outsideClick]="true"
				   (onShown)="adminNavOpen = true;"
				   (onHidden)="adminNavOpen = false;">
					<span class="fa fa-fw fa-cog"></span>
					<span [hidden]="!navbarOpen">Admin</span>
				</a>

				<ng-template #adminNav>
					<ul class="popover-menu" role="menu">
						<li *ngFor="let adminItem of adminMenuItems">
							<a [routerLink]="['admin/' + adminItem.path, { clearCachedFilter: true }]"
								(click)="adminNavPopover.hide()">
								{{ adminItem.title }}
							</a>
						</li>
					</ul>
				</ng-template>
			</li>

			<!-- Messages Nav   -->
			<li class="element nav-popover nav-popover-bottom"
				*isAuthenticated>
				<a [ngClass]="{'highlight-link': messagesNavOpen}"
				   [popover]="messagesNav"
				   container="body"
				   containerClass="site-nav-popover-container-messages"
				   #messagesNavPopover="bs-popover"
				   placement="left"
				   [outsideClick]="true"
				   (onShown)="messagesNavOpen = true;"
				   (onHidden)="messagesNavOpen = false;">
					<span class="fa fa-fw fa-bell" attr.newMessagesCount="{{numNewMessages}}"
						  [ngClass]="{'messages-icon-new-messages-badge': numNewMessages > 0 }"></span>
					<span [hidden]="!navbarOpen">Notifications</span>
				</a>
				<ng-template #messagesNav>
					<ul class="popover-menu" role="menu">
						<!-- List Messages -->
						<li>
							<a>
								<app-recent-messages [container]="messagesNavPopover"></app-recent-messages>
							</a>
						</li>
					</ul>
				</ng-template>
			</li>

			<!-- Help Nav -->
			<li class="element nav-popover nav-popover-bottom">
				<a [ngClass]="{'highlight-link': helpNavOpen}"
				   [popover]="helpNav"
				   container="body"
				   containerClass="site-nav-popover-container"
				   #helpNavPopover="bs-popover"
				   placement="left"
				   [outsideClick]="true"
				   (onShown)="helpNavOpen = true;"
				   (onHidden)="helpNavOpen = false;">
					<span class="fa fa-fw fa-question-circle"></span>
					<span [hidden]="!navbarOpen">Help</span>
				</a>

				<ng-template #helpNav>
					<ul class="popover-menu" role="menu">

						<!-- Help -->
						<li>
							<a routerLink="/help"
							   (click)="helpNavPopover.hide()">Help Docs</a>
						</li>

						<!-- Feedback -->
						<li *ngIf="showFeedbackOption"><a class="link"
							(click)="showFeedbackModal();helpNavPopover.hide()">Give Feedback</a></li>

						<!-- About -->
						<li>
							<a routerLink="/about"
							   (click)="helpNavPopover.hide()">About</a>
						</li>

					</ul>
				</ng-template>
			</li>

		</ul>
	</div>

	<ul class="nav nav-collapse flex-shrink-0">
		<!-- Divider -->
		<li class="element element-divider element-divider-collapse"></li>

		<!-- Collapse/Expand -->
		<li class="element "
				(click)="toggleNavbar()">
			<a>
				<span class="fa fa-fw"
				   [class.fa-angle-double-right]="!navbarOpen"
				   [class.fa-angle-double-left]="navbarOpen"></span>
				<span [hidden]="!navbarOpen">Collapse</span>
			</a>
		</li>
	</ul>

</div>

<div class="navbar-content"
     [ngClass]="{'navbar-open': navbarOpen}">
	<ng-content></ng-content>
</div>
