@import '../../../styles/shared';

@import '../site-container/shared';
@import './shared';

:host {
	display: flex;
	height: 100%;
}

// -------------------------------------------------
// Navbar Left
// A left-docked vertical navigation bar
// -------------------------------------------------
.navbar-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
	background-color: $nav-background-color;
	overflow-x: hidden;

	width: $nav-closed-width;
	z-index: $nav-z-index;

	transition: width 0.15s ease-in-out;

	// Main nav: The top area where the site logo exists
	.nav-logo {
		background-color: $nav-element-logo-color-bg;
		flex-shrink: 0;
		width: 100%;
	}

	// A normal element
	.element {
		position: relative;

		> a {
			@include font-normal($nav-element-font-size);
			@include font-color-light($nav-element-font-color);

			display: block;
			padding: $nav-element-padding 0;
			width: $nav-closed-width;

			&:hover {
				color: $nav-element-hover-color;
			}
			&:hover,
			&.highlight-link {
				background-color: $nav-element-hover-background-color;
				cursor: pointer;
				text-decoration: none;
			}

			> span.fa {
				font-size: $nav-element-icon-size;
				margin-left: $nav-element-icon-margin-left;
			}

			> span {
				font-size: $nav-element-font-size;
				margin-left: 10px;
			}

			&.active-link {
				background-color: $nav-element-active-background-color;
				border-left: $nav-element-active-indicator-width solid
					$nav-element-active-border-color;
				color: $nav-element-active-color;

				> span.fa {
					margin-left: $nav-element-icon-margin-left - $nav-element-active-indicator-width;
				}
			}
		}
	}

	// A divider element
	.element-divider {
		border-bottom: $nav-element-font-color solid 1px;
		margin-left: $nav-element-divider-margin;
		margin-right: $nav-element-divider-margin;
		padding: 0;

		height: 0;
		width: $nav-closed-width - 2 * $nav-element-divider-margin;
	}

	// The element that contains the logo
	.element-logo {
		margin: 0;
		padding: 0;

		> a {
			background-color: $nav-element-logo-color-bg;
			padding: 0;

			&:hover {
				background-color: $nav-element-logo-hover-color-bg;
			}

			> img {
				margin: $nav-element-logo-img-margin;

				&.logo {
					height: auto;
					width: $nav-closed-width - 2 * $nav-element-logo-img-margin;
				}
			}
		}
	}

	.nav-inner-scroll {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		flex-grow: 1;
		overflow-y: auto;
		overflow-x: hidden;
		width: $nav-closed-width;
	}

	.nav-collapse {
		width: $nav-closed-width;
	}

	// Adjustments for when the navbar is open
	&.navbar-open {
		width: $nav-open-width;

		.element > a {
			width: $nav-open-width;
		}

		.element-divider {
			width: $nav-open-width - 2 * $nav-element-divider-margin;
		}

		.element-logo > a > img.logo {
			width: $nav-open-width - 2 * $nav-element-logo-img-margin;
		}

		.nav-inner-scroll,
		.nav-collapse {
			width: $nav-open-width;
		}
	}
}

.navbar-content {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}

::ng-deep .popover.site-nav-popover-container {
	width: $nav-popover-width;
	z-index: $nav-popover-z-index;
}

::ng-deep .popover.site-nav-popover-container-messages {
	max-width: min(calc(100vw - #{$nav-open-width} - 1rem), #{$nav-messages-popover-max-width});
	z-index: $nav-popover-z-index;
}

// new messages number badge
.messages-icon-new-messages-badge[newMessagesCount]::after {
	content: attr(newMessagesCount);
	position: absolute;
	top: 7px;
	right: 11px;
	border-radius: 50%;
	height: 16px;
	width: 16px;
	line-height: 16px;
	font-size: 12px;
	font-weight: 500;
	background: #00abf4;
	font-family: Roboto, sans-serif;

	.navbar-open & {
		right: 11px + $nav-open-width - $nav-closed-width;
	}
}
