@import '../../../styles/overrides';
@import '../../../styles/shared';

@import '../site-container/shared';
@import './shared';


// -------------------------------------------------
// Navbar offsets given the header/footer setup
// -------------------------------------------------
:host-context(.header-active) .navbar-left {
	top: $header-banner-height;
}

:host-context(.copyright-active) .navbar-left {
	bottom: $footer-banner-height;
}

:host-context(.footer-active) .navbar-left {
	bottom: $footer-banner-height;
}

:host-context(.copyright-active.footer-active) .navbar-left {
	bottom: $footer-banner-height + $copyright-banner-height;
}


// -------------------------------------------------
// Navbar Left
// A left-docked vertical navigation bar
// -------------------------------------------------
.navbar-left {
	background-color: $nav-background-color;
	padding: 0;
	overflow-x: hidden;

	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;

	width: $nav-closed-width;
	z-index: 10000;

	transition: width .15s ease-in-out;

	// A normal element
	.element {
		position: relative;

		> a {
			@include font-normal($nav-element-font-size);
			@include font-color-light($nav-element-font-color);

			display: block;
			padding: $nav-element-padding 0;
			width: $nav-closed-width;

			&:hover {
				color: $nav-element-hover-color;
			}
			&:hover, &.highlight-link {
				background-color: $nav-element-hover-background-color;
				cursor: pointer;
				text-decoration: none;
			}

			> span.fa {
				font-size: $nav-element-icon-size;
				margin-left: $nav-element-icon-margin-left;
			}

			> span {
				font-size: $nav-element-font-size;
				margin-left: 10px;
			}

			&.active-link {
				background-color: $nav-element-active-background-color;
				border-left: $nav-element-active-indicator-width solid $nav-element-active-color;

				> span.fa {
					margin-left: $nav-element-icon-margin-left - $nav-element-active-indicator-width;
				}
			}
		}

		&:first-child {
			margin-top: $nav-element-padding;
		}
	}


	// A divider element
	.element-divider {
		border-bottom: $nav-element-font-color solid 1px;
		margin-left: $nav-element-divider-margin;
		margin-right: $nav-element-divider-margin;
		padding: 0;

		height: 0;
		width: $nav-closed-width - 2 * $nav-element-divider-margin;
	}

	.element-divider-collapse {
		margin-top: $nav-element-padding;
	}


	// The element that contains the logo
	.element-logo {
		padding: 0;

		> a, > a:hover {
			background-color: $nav-element-logo-color-bg;
			padding: 0;

			> img {
				margin: $nav-element-logo-img-margin;

				&.logo {
					height: auto;
					width: $nav-closed-width - 2 * $nav-element-logo-img-margin;
				}
			}
		}
	}

	.nav-inner-scroll {
		overflow-y: auto;
		overflow-x: hidden;
		width: $nav-closed-width;
	}

	.nav-collapse {
		width: $nav-closed-width;
	}

	// Adjustments for when the navbar is open
	&.navbar-open {
		width: $nav-open-width;

		.element > a {
			width: $nav-open-width;
		}

		.element-divider {
			width: $nav-open-width - 2 * $nav-element-divider-margin;
		}

		.element-logo > a > img.logo {
			width: $nav-open-width - 2 * $nav-element-logo-img-margin;
		}

		.nav-inner-scroll, .nav-collapse {
			width: $nav-open-width;
		}
	}

	// Main nav: The top area where the site logo exists
	.nav-logo {
		background-color: $nav-element-logo-color-bg;
		width: 100%;

		.element-logo {
			margin: 0;
		}
	}
}


// Offset the content by the width of the navbar
.navbar-content {
	margin-left: $nav-closed-width;
	transition: margin-left .15s ease-in-out;

	&.navbar-open {
		margin-left: $nav-open-width;
	}
}

::ng-deep .site-nav-popover-container {
	width: 192px;
}
