<div class="navbar-left" [ngClass]="{ 'navbar-open': navbarOpen, 'navbar-close': !navbarOpen }">
	<!-- Logo -->
	<ul class="nav nav-logo">
		<!-- Logo -->
		<li class="element element-logo">
			<a href="/#/" [hidden]="navbarOpen" linkAccessibility>
				<img class="logo" src="/assets/images/nav-logo-icon.png" alt="Logo" />
			</a>
			<a href="/#/" [hidden]="!navbarOpen" linkAccessibility>
				<img class="logo" src="/assets/images/nav-logo.png" alt="Logo" />
			</a>
		</li>
	</ul>

	<div class="nav-inner-scroll">
		<!-- Main Nav -->
		<ul class="nav nav-main">
			<ng-container *ngFor="let navbarItem of navbarItems">
				<li class="element" *hasSomeRoles="navbarItem.hasSomeRoles">
					<a
						tooltip="{{ navbarItem.title }}"
						placement="left"
						container="body"
						[isDisabled]="navbarOpen"
						routerLinkActive="active-link"
						[routerLink]="navbarItem.path"
						linkAccessibility
					>
						<span class="fa-solid fa-fw {{ navbarItem.iconClass }}"></span>
						<span [hidden]="!navbarOpen">{{ navbarItem.title }}</span>
					</a>
				</li>
			</ng-container>
		</ul>

		<!-- Bottom Aux Nav -->
		<ul class="nav nav-aux">
			<!-- Admin Nav	-->
			<li class="element nav-popover nav-popover-bottom" *hasRole="'admin'">
				<a
					[class.highlight-link]="adminNavOpen"
					[popover]="adminNav"
					container="body"
					containerClass="site-nav-popover-container"
					tooltip="Admin"
					[isDisabled]="navbarOpen"
					#adminNavPopover="bs-popover"
					placement="left"
					[outsideClick]="true"
					(onShown)="adminNavOpen = true"
					(onHidden)="adminNavOpen = false"
					linkAccessibility
				>
					<span class="fa-solid fa-fw fa-cog"></span>
					<span [hidden]="!navbarOpen">Admin</span>
				</a>

				<ng-template #adminNav>
					<ul class="popover-menu" role="menu">
						<li *ngFor="let adminItem of adminMenuItems">
							<a
								[routerLink]="[
									'admin/' + adminItem.path,
									{ clearCachedFilter: true }
								]"
								(click)="adminNavPopover.hide()"
								linkAccessibility
							>
								{{ adminItem.title }}
							</a>
						</li>
					</ul>
				</ng-template>
			</li>

			<!-- Auditor Nav	-->
			<li class="element" *hasRole="'auditor'">
				<a
					tooltip="Audit Logs"
					placement="left"
					container="body"
					[isDisabled]="navbarOpen"
					routerLinkActive="active-link"
					routerLink="/audit"
					linkAccessibility
				>
					<span class="fa-solid fa-fw fa-file-text"></span>
					<span [hidden]="!navbarOpen">Audit Logs</span>
				</a>
			</li>

			<!-- Team Nav   -->
			<li class="element" *hasRole="'user'">
				<a
					tooltip="Teams"
					placement="left"
					container="body"
					[isDisabled]="navbarOpen"
					routerLinkActive="active-link"
					routerLink="/teams"
					linkAccessibility
				>
					<span class="fa-solid fa-fw fa-users"></span>
					<span [hidden]="!navbarOpen">Teams</span>
				</a>
			</li>

			<!-- User Nav	-->
			<li class="element nav-popover nav-popover-bottom" *isAuthenticated>
				<a
					[class.highlight-link]="userNavOpen"
					[popover]="userNav"
					container="body"
					containerClass="site-nav-popover-container"
					tooltip="User Profile"
					[isDisabled]="navbarOpen"
					#userNavPopover="bs-popover"
					placement="left"
					[outsideClick]="true"
					(onShown)="userNavOpen = true"
					(onHidden)="userNavOpen = false"
					linkAccessibility
				>
					<span class="fa-solid fa-fw fa-user-circle" *ngIf="!isMasquerade"></span>
					<span class="fa-stack" *ngIf="isMasquerade">
						<span class="fa-solid fa-circle fa-stack-2x"></span>
						<span
							class="fa-solid fa-lg fa-user-secret fa-stack-1x text-primary"
							style="margin-left: 1px"
						></span>
					</span>
					<span [hidden]="!navbarOpen">{{ session?.name }}</span>
				</a>

				<ng-template #userNav>
					<ul class="popover-menu" role="menu">
						<!-- User Signout -->
						<li><a href="/api/auth/signout" linkAccessibility>Sign out</a></li>
						<li *ngIf="session?.user?.eua">
							<a [routerLink]="['/eua']" linkAccessibility>View EUA</a>
						</li>

						<!-- User Preferences -->
						<li *ngIf="showUserPreferencesLink">
							<a
								[routerLink]="userPreferencesLink"
								(click)="userNavPopover.hide()"
								linkAccessibility
							>
								User Preferences
							</a>
						</li>

						<ng-container *ngIf="masqueradeEnabled">
							<li>
								<a
									routerLink="/masquerade"
									(click)="userNavPopover.hide()"
									*ngIf="!isMasquerade && canMasquerade"
									linkAccessibility
								>
									Masquerade
								</a>
								<a routerLink="/masquerade" *ngIf="isMasquerade" linkAccessibility>
									Clear Masquerade
								</a>
							</li>
						</ng-container>
					</ul>
				</ng-template>
			</li>

			<li
				class="element"
				*ngIf="masqueradeEnabled && isMasquerade && (this.session?.name ?? null) === null"
			>
				<a
					tooltip="Clear Masquerade"
					placement="left"
					container="body"
					[isDisabled]="navbarOpen"
					routerLinkActive="active-link"
					routerLink="masquerade"
					linkAccessibility
				>
					<span class="fa-stack">
						<span class="fa-solid fa-circle fa-stack-2x"></span>
						<span
							class="fa-solid fa-lg fa-user-secret fa-stack-1x text-primary"
							style="margin-left: 1px"
						></span>
						<span class="fa-solid fa-ban fa-stack-2x text-danger"></span>
					</span>
					<span [hidden]="!navbarOpen">Clear Masquerade</span>{{ this.session?.name }}
				</a>
			</li>

			<!-- Messages Nav   -->
			<li class="element nav-popover nav-popover-bottom" *hasRole="'user'">
				<a
					[class.highlight-link]="messagesNavOpen"
					[popover]="messagesNav"
					container="body"
					containerClass="site-nav-popover-container-messages"
					tooltip="Notifications"
					[isDisabled]="navbarOpen"
					#messagesNavPopover="bs-popover"
					placement="left bottom"
					[outsideClick]="true"
					(onShown)="messagesNavOpen = true"
					(onHidden)="messagesNavOpen = false"
					linkAccessibility
				>
					<span
						class="fa-solid fa-fw fa-bell"
						attr.newMessagesCount="{{ numNewMessages }}"
						[class.messages-icon-new-messages-badge]="numNewMessages > 0"
					></span>
					<span [hidden]="!navbarOpen">Notifications</span>
				</a>
				<ng-template #messagesNav>
					<app-recent-messages [container]="messagesNavPopover"></app-recent-messages>
				</ng-template>
			</li>

			<!-- Help Nav -->
			<li class="element nav-popover nav-popover-bottom">
				<a
					[class.highlight-link]="helpNavOpen"
					[popover]="helpNav"
					container="body"
					containerClass="site-nav-popover-container"
					tooltip="Help"
					[isDisabled]="navbarOpen"
					#helpNavPopover="bs-popover"
					placement="left"
					[outsideClick]="true"
					(onShown)="helpNavOpen = true"
					(onHidden)="helpNavOpen = false"
					linkAccessibility
				>
					<span class="fa-solid fa-fw fa-question-circle"></span>
					<span [hidden]="!navbarOpen">Help</span>
				</a>

				<ng-template #helpNav>
					<ul class="popover-menu" role="menu">
						<!-- Help -->
						<li>
							<a routerLink="/help" (click)="helpNavPopover.hide()" linkAccessibility>
								Help Docs
							</a>
						</li>

						<!-- Feedback -->
						<li *isAuthenticated="true; and: showFeedbackOption">
							<a
								class="link"
								(click)="showFeedbackModal(); helpNavPopover.hide()"
								linkAccessibility
							>
								Give Feedback
							</a>
						</li>

						<!-- API Docs -->
						<li *ngIf="showApiDocsLink">
							<a
								[href]="apiDocsLink"
								target="_blank"
								(click)="helpNavPopover.hide()"
								linkAccessibility
							>
								API Docs
							</a>
						</li>

						<!-- About -->
						<li>
							<a
								routerLink="/about"
								(click)="helpNavPopover.hide()"
								linkAccessibility
							>
								About
							</a>
						</li>
					</ul>
				</ng-template>
			</li>
		</ul>
	</div>

	<ul class="nav nav-collapse">
		<!-- Divider -->
		<li class="element element-divider element-divider-collapse"></li>

		<!-- Collapse/Expand -->
		<li class="element" (click)="toggleNavbar()" linkAccessibility>
			<a tooltip="Expand" placement="left" container="body" [isDisabled]="navbarOpen">
				<span
					class="fa-solid fa-fw fa-angle-double-right"
					[class.fa-flip-horizontal]="navbarOpen"
				></span>
				<span [hidden]="!navbarOpen">Collapse</span>
			</a>
		</li>
	</ul>
</div>

<div class="navbar-content" [ngClass]="{ 'navbar-open': navbarOpen, 'navbar-close': !navbarOpen }">
	<ng-content></ng-content>
</div>
