<div
		 class="navbar-left"
		 [ngClass]="{'navbar-open': navbarOpen}">

	<!-- Logo -->
	<ul class="nav nav-logo">

		<!-- Logo -->
		<li class="element element-logo">
			<a href="/#/" [hidden]="navbarOpen">
				<img class="logo" src="/assets/images/nav-logo-icon.png"/>
			</a>
			<a href="/#/" [hidden]="!navbarOpen">
				<img class="logo" src="/assets/images/nav-logo.png"/>
			</a>
		</li>

	</ul>


	<!-- Main Nav -->
	<ul class="nav nav-main">

		<!-- Element -->
		<li class="element"
		    *ngIf="null != session">
			<a tooltip="Explore"
			   placement="right"
			   [isDisabled]="navbarOpen"
			   routerLinkActive="active-link"
			   routerLink="/explore">
				<i class="fa fa-fw fa-compass"></i>
				<span [hidden]="!navbarOpen">Explore</span>
			</a>
		</li>
		<li class="element"
			*ngIf="null != session">
			<a tooltip="Search"
			   placement="right"
			   [isDisabled]="navbarOpen"
			   routerLinkActive="active-link"
			   routerLink="/search">
				<i class="fa fa-fw fa-search"></i>
				<span [hidden]="!navbarOpen">Search</span>
			</a>
		</li>

	</ul>


	<!-- Bottom Aux Nav -->
	<ul class="nav nav-aux">

		<!-- User Nav	-->
		<li class="element nav-popover nav-popover-bottom"
			*ngIf="null != session">
			<a [ngClass]="{'highlight-link': userNavOpen}"
			   [popover]="userNav"
			   #userNavPopover="bs-popover"
			   placement="right"
			   [outsideClick]="true"
			   (onShown)="userNavOpen = true;"
			   (onHidden)="userNavOpen = false;">
				<i class="fa fa-fw fa-user-circle"></i>
				<span [hidden]="!navbarOpen">{{ session?.name }}</span>
			</a>

			<ng-template #userNav>
				<ul class="popover-menu" role="menu">

					<!-- User Signout -->
					<li [hidden]="pki"><a href="/auth/signout">Sign out</a></li>

				</ul>
			</ng-template>
		</li>

		<!-- Admin Nav	-->
		<!-- TODO Only show the admin navigation when the user is determined to be an admin -->
		<li class="element nav-popover nav-popover-bottom"
			*ngIf="null != session">
			<a [ngClass]="{'highlight-link': adminNavOpen}"
			[popover]="adminNav"
			#adminNavPopover="bs-popover"
			placement="right"
			[outsideClick]="true"
			(onShown)="adminNavOpen = true;"
			(onHidden)="adminNavOpen = false;">
				<i class="fa fa-fw fa-cog"></i>
				<span [hidden]="!navbarOpen">Admin</span>
			</a>

			<ng-template #adminNav>
				<ul class="popover-menu" role="menu">
					<li *ngFor="let adminItem of adminMenuItems">
						<a [routerLink]="[adminItem.link, { clearCachedFilter: true }]"
							(click)="adminNavPopover.hide()">
							{{ adminItem.name }}
						</a>
					</li>
				</ul>
			</ng-template>
		</li>


		<!-- Help Nav -->
		<li class="element nav-popover nav-popover-bottom">
			<a [ngClass]="{'highlight-link': helpNavOpen}"
			   [popover]="helpNav"
			   #helpNavPopover="bs-popover"
			   placement="right"
			   [outsideClick]="true"
			   (onShown)="helpNavOpen = true;"
			   (onHidden)="helpNavOpen = false;">
				<i class="fa fa-fw fa-question-circle"></i>
				<span [hidden]="!navbarOpen">Help</span>
			</a>

			<ng-template #helpNav>
				<ul class="popover-menu" role="menu">

					<!-- Help -->
					<li>
						<a routerLink="/help"
						   (click)="helpNavPopover.hide()">Help Docs</a>
					</li>

					<!-- About -->
					<li>
						<a routerLink="/about"
						   (click)="helpNavPopover.hide()">About</a>
					</li>

				</ul>
			</ng-template>
		</li>

		<!-- Divider -->
		<li class="element element-divider element-divider-collapse"></li>

		<!-- Collapse/Expand -->
		<li class="element "
				(click)="toggleNavbar()">
			<a>
				<i class="fa fa-fw"
				   [class.fa-angle-double-right]="!navbarOpen"
				   [class.fa-angle-double-left]="navbarOpen"></i>
				<span [hidden]="!navbarOpen">Collapse</span>
			</a>
		</li>

	</ul>

</div>

<div class="navbar-content"
     [ngClass]="{'navbar-open': navbarOpen}">
	<ng-content></ng-content>
</div>
