<section class="modal-header">
	<h2 class="modal-title">
		Add Team Members
	</h2>
	<button type="button" class="close"
			(click)="modalRef.hide()"
			tooltip="Close"
			placement="bottom"
			aria-label="Close">
		<span class="fa fa-times" aria-hidden="true"></span>
	</button>
</section>

<section class="modal-body">
	<h3>Add users</h3>
	<div class="form-group">
		<input type="text" name="member" class="form-control"
			   placeholder="Start typing a username to add..."
			   [(ngModel)]="queryUserSearchTerm"
			   [typeahead]="dataSource"
			   [typeaheadOptionField]="'displayName'"
			   [typeaheadMinLength]="2"
			   [typeaheadWaitMs]="300"
			   (typeaheadOnSelect)="typeaheadOnSelect($event)">
	</div>

	<ng-container *ngIf="addedMembers.length > 0">
		<h3 class="pt-2">Set user roles</h3>

		<table class="table table-condensed">
			<thead>
			<tr>
				<th>Username</th>
				<th>Role</th>
				<th>&nbsp;</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let invited of addedMembers; let i = index" class="table-row" [class.invalid]="invited.invalid">
				<td><div class="hide-overflow fixed-column" [attr.title]="invited.username">{{ invited.username }}</div></td>
				<td>
					<div>
						<div class="btn-group" dropdown>
							<button type="button" class="btn dropdown-toggle" dropdownToggle>
								<span class="float-left" style="margin-right: 4px;">{{ invited.roleDisplay }}</span>
							</button>

							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li *ngFor="let role of teamRoleOptions" [value]="role.role" (click)="updateRoleSelection(i, role.role)">
									<a class="dropdown-item">{{ role.label }}</a>
								</li>
							</ul>
						</div>
					</div>
				</td>
				<td>
					<a class="btn-icon"
					   tooltip="Remove User"
					   container="body"
					   placement="bottom"
					   (click)="remove(i)">
						<span class="fa fa-lg fa-trash"></span>
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</ng-container>
</section>

<section class="modal-footer">
	<button type="button" class="btn btn-link" (click)="modalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-primary" [disabled]="addedMembers.length === 0 || submitting" (click)="submit()">Add Users</button>
</section>
