<asy-modal
	title="Add Team Members"
	okText="Add Users"
	(ok)="submit()"
	(cancel)="modalRef.hide()"
	[disableOk]="submitting || addedMembers.length === 0"
	[autoCaptureFocus]="true"
>
	<h3>Add users</h3>
	<div class="form-group">
		<ng-select
			name="teamAdmin"
			bindLabel="userModel.name"
			placeholder="Search for user..."
			[tabIndex]="-1"
			[items]="users$ | async"
			[loading]="usersLoading"
			[typeahead]="usersInput$"
			(change)="typeaheadOnSelect($event, selectDropdown)"
			appendTo="body"
			#selectDropdown
			cdkFocusInitial
		>
			<ng-template ng-label-tmp let-item="item"> </ng-template>
		</ng-select>
	</div>

	<ng-container *ngIf="addedMembers.length > 0">
		<h3 class="pt-2">Set user roles</h3>

		<table class="table table-condensed" aria-describedby="Set user roles">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Role</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let invited of addedMembers; let i = index" class="table-row">
					<td>
						<div class="hide-overflow" [attr.title]="invited.username">
							{{ invited.username }}
						</div>
					</td>
					<td>
						<div class="dropdown dropdown-table-inline" dropdown>
							<span class="dropdown-toggle" dropdownToggle>
								<span class="mr-1">{{ invited.roleDisplay }}</span>
							</span>

							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li
									*ngFor="let role of teamRoleOptions"
									[value]="role.role"
									(click)="updateRoleSelection(invited, role.role)"
								>
									<a class="dropdown-item">{{ role.label }}</a>
								</li>
							</ul>
						</div>
					</td>
					<td>
						<a
							class="btn-icon"
							tooltip="Remove User"
							container="body"
							placement="bottom"
							(click)="remove(i)"
						>
							<span class="fa fa-lg fa-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-container>
</asy-modal>
