@import '../../../../../styles/shared';

:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.cdk-column-externalRoles,
.cdk-column-externalGroups {
	max-width: 200px;
}

.user-role-external::after {
	content: '(external)';
}
