<section class="p-3">
	<!-- Show a breadcrumb to the list teams page -->
	<a class="back-link" [routerLink]="['/team']">
		<span class="fa-solid fa-angle-double-left"></span> Back to Teams
	</a>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<form class="pt-3" role="form" autocomplete="off" novalidate #form="ngForm" (ngSubmit)="save()">
		<h1>
			Create Team
			<small>Provide some basic metadata to create a new team</small>
		</h1>

		<!-- Required Indicator -->
		<div>
			<span class="required"
				><span class="text-danger"><strong> *</strong></span> Required</span
			>
		</div>

		<!-- Team Name -->
		<div class="form-group pt-4">
			<label class="form-required" for="name">Team Name</label>
			<input
				class="form-control"
				id="name"
				name="name"
				type="text"
				placeholder="Enter team name..."
				required
				[(ngModel)]="team.name"
			/>
		</div>

		<!-- Team Admin -->
		<div class="form-group" *ngIf="isAdmin">
			<label class="form-required">Team Admin</label>
			<ng-select
				name="teamAdmin"
				bindLabel="name"
				placeholder="Search for user..."
				style="width: 400px"
				[(ngModel)]="teamAdmin"
				[items]="(users$ | async) || []"
				[loading]="usersLoading"
				[typeahead]="usersInput$"
			>
			</ng-select>
			<button
				class="btn btn-sm btn-link px-0 pb-0"
				type="button"
				(click)="setCurrentUserAsAdmin()"
			>
				I am the Team Admin
			</button>
		</div>

		<!-- Description -->
		<div class="form-group">
			<label for="description">Description</label>
			<textarea
				class="form-control"
				id="description"
				name="description"
				placeholder="Enter description..."
				rows="3"
				[(ngModel)]="team.description"
			></textarea>
		</div>

		<!-- Team Parent -->
		<div class="form-group" *ngIf="nestedTeamsEnabled">
			<label for="parent">Parent Team</label>
			<app-team-select-input
				class="d-block"
				id="parent"
				name="parent"
				placeholder="Select parent..."
				style="width: 400px"
				[(ngModel)]="team.parent"
			>
			</app-team-select-input>
		</div>

		<!-- Implicit Teams Members -->
		<div class="form-group" *ngIf="implicitMembersStrategy !== null">
			<label class="form-required">Implicit Team Members</label>
			<p class="mt-n1 mb-1">
				Do you want to automatically grant users access to team based on external
				{{ implicitMembersStrategy }}?
			</p>
			<div class="form-check">
				<input
					class="form-check-input"
					id="implicit-members-option-yes"
					name="name-type-option-radio"
					type="radio"
					[value]="true"
					required
					[(ngModel)]="team.implicitMembers"
				/>
				<label class="form-check-label mb-2" for="implicit-members-option-yes">Yes</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-label"
					id="implicit-members-option-no"
					name="name-type-option-radio"
					type="radio"
					[value]="false"
					required
					[(ngModel)]="team.implicitMembers"
				/>
				<label class="form-check-label mb-2" for="implicit-members-option-no">No</label>
			</div>
		</div>

		<!-- External Roles -->
		<div
			class="form-group"
			*ngIf="implicitMembersStrategy === 'roles'"
			[hidden]="!team.implicitMembers"
		>
			<label>External Roles</label>
			<ng-select
				name="externalRoles"
				appUserExternalRolesSelect
				multi-select
				placeholder="Start typing a role..."
				[(ngModel)]="team.requiresExternalRoles"
			></ng-select>
		</div>

		<!-- External Teams -->
		<div
			class="form-group"
			*ngIf="implicitMembersStrategy === 'teams'"
			[hidden]="!team.implicitMembers"
		>
			<label>External Teams</label>
			<ng-select
				name="externalTeams"
				multi-select
				placeholder="Start typing a team..."
				[(ngModel)]="team.requiresExternalTeams"
			></ng-select>
		</div>

		<div class="form-group">
			<div class="text-right">
				<button class="btn btn-link" type="button" routerLink="/team">Cancel</button>
				<button
					class="btn btn-primary btn-submit ml-2"
					[class.btn-submitting]="isSubmitting"
					type="submit"
					[disabled]="!form.form.valid || isSubmitting"
				>
					Add
				</button>
			</div>
		</div>
	</form>
</section>
