<section class="p-3">

	<!-- Show a breadcrumb to the list teams page -->
	<a class="back-link" [routerLink]="['/teams']">
		<span class="fa fa-angle-double-left"></span> Back to Teams
	</a>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<form #form="ngForm" autocomplete="off" class="pt-3" role="form" (ngSubmit)="save()" novalidate>

		<h1>
			Create Team<br/>
			<small>Provide some basic metadata to create a new team</small>
		</h1>

		<!-- Required Indicator -->
		<div>
			<span class="required"><span class="text-danger"><strong> *</strong></span> Required</span>
		</div>

		<!-- Team Name -->
		<div class="form-group pt-4">
			<label class="form-required" for="name">Team Name</label>
			<input type="text" class="form-control" id="name" name="name" [(ngModel)]="team.name" required/>
		</div>

		<!-- Team Admin -->
		<div class="form-group d-inline-block" *ngIf="isAdmin">
			<label class="form-required">Team Admin</label>

			<div *ngIf="!editDefaultTeamAdmin">
				<span class="fa fa-user"></span> {{ defaultTeamAdmin.name }} ({{ defaultTeamAdmin.username }})
				<button type="button" class="btn btn-link" (click)="editDefaultTeamAdmin = true">(Select Another Admin)</button>
			</div>

			<div *ngIf="editDefaultTeamAdmin" class="form-row">
				<div class="col">
					<input type="text" name="admin" id="admin" class="form-control" style="width: 500px"
						   placeholder="Start typing a user to add..."
						   [(ngModel)]="queryUserSearchTerm"
						   [typeahead]="searchUsersRef"
						   [typeaheadOptionField]="'displayName'"
						   [typeaheadMinLength]="2"
						   [typeaheadWaitMs]="300"
						   (typeaheadOnSelect)="typeaheadOnSelect($event)">
				</div>

				<div class="col">
					<!-- Cancel Button -->
					<button type="button" class="btn btn-outline-secondary" (click)="editDefaultTeamAdmin = false">Cancel</button>
				</div>
			</div>
		</div>

		<!-- Description -->
		<div class="form-group">
			<label for="description">Description</label>
			<textarea rows="3" class="form-control" id="description" name="description" [(ngModel)]="team.description"></textarea>
		</div>

		<!-- Implicit Teams Members -->
		<div class="form-group mb-2" *ngIf="implicitMembersStrategy !== null">
			<p class="mt-4 mb-1">Do you want to automatically grant users access to team based on external {{ implicitMembersStrategy }}?</p>
			<div class="radio">
				<input type="radio" name="name-type-option-radio" id="implicit-members-option-yes"
					   [value]="true" [(ngModel)]="team.implicitMembers">
				<label for="implicit-members-option-yes" class="mb-2">Yes</label>
			</div>
			<div class="radio">
				<input type="radio" name="name-type-option-radio" id="implicit-members-option-no"
					   [value]="false" [(ngModel)]="team.implicitMembers">
				<label for="implicit-members-option-no" class="mb-2">No</label>
			</div>
		</div>

		<!-- External Roles -->
		<div class="form-group" *ngIf="implicitMembersStrategy === 'roles'" [hidden]="!team.implicitMembers">
			<label>External Roles</label>
			<asy-multi-select-input placeholder="Start typing a role..." name="externalRoles" [(ngModel)]="team.requiresExternalRoles"></asy-multi-select-input>
		</div>

		<!-- External Teams -->
		<div class="form-group" *ngIf="implicitMembersStrategy === 'teams'" [hidden]="!team.implicitMembers">
			<label>External Teams</label>
			<asy-multi-select-input placeholder="Start typing a team..." name="externalTeams" [(ngModel)]="team.requiresExternalTeams"></asy-multi-select-input>
		</div>

		<div class="form-group">
			<div class="text-right">
				<button type="button" class="btn btn-link" routerLink="/teams">Cancel</button>
				<button type="submit" class="btn btn-primary btn-submit ml-2" [ngClass]="{'btn-submitting': isSubmitting}"
						[disabled]="!form.form.valid || isSubmitting">Add</button>
			</div>
		</div>

	</form>

</section>
