<section>
	<div class="row padding-top-20">
		<div *ngIf="eua" class="col-md-8 offset-2">
			<h5>
				End User Agreement (EUA)<br />
				<small>Please review and acknowledge the end user agreement</small>
			</h5>

			<!-- Alert Notifications -->
			<system-alert *ngIf="showAlerts"></system-alert>

			<form name="userForm" autocomplete="off" role="form">
				<div class="card word-wrap">
					<h6 class="card-header">{{ eua.title }}</h6>

					<!-- Contents of EUA -->
					<div class="card-body" [innerHtml]="eua.text"></div>

					<div class="card-footer">
						<div class="form-check">
							<input
								type="checkbox"
								class="form-check-input"
								name="acknowledge"
								id="acknowledge"
								[(ngModel)]="agree"
							/>
							<label class="form-check-label" for="acknowledge"
								>I have read and acknowledge the end user agreement (EUA)</label
							>
						</div>
					</div>
				</div>

				<div class="padding-top-20">
					<button
						type="submit"
						class="btn btn-primary"
						[disabled]="!agree"
						(click)="accept()"
					>
						Submit Acknowledgement
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
