@use 'sass:math';
@import '../../../styles/shared';

$admin-section-padding-y: $site-content-padding-y;

.admin-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.admin-section-container {
		height: 100%;
		padding: math.div($admin-section-padding-y, 2) 0;
	}
}
