<section>

	<!-- Show a breadcrumb to the list teams page -->
	<a class="back-link" routerLink="/teams">
		<span class="fa fa-angle-double-left"></span> Back to Teams
	</a>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<!-- Team Name and Delete Button -->
	<h2 class="pt-2">
		{{ team.name }}
		<button type="button" class="btn btn-sm btn-primary float-right" (click)="remove()" *ngIf="canManageTeam">
			<span class="fa fa-trash"></span> Delete Team
		</button>
	</h2>

	<!-- Team Description and Create Date -->
	<div>
		<div>{{ team.description }}</div>
		<div>Date Created: {{ team.created | utcDate:'MM/DD/YYYY' }}</div>
	</div>

	<!-- Tabs -->
	<div class="mt-3">
		<tabset type="tabs">
			<tab heading="Members">
				<list-team-members [team]="team"></list-team-members>
			</tab>
			<tab heading="Settings" *ngIf="canManageTeam">
				<edit-team-metadata [team]="team" (metadataUpdated)="updateTeam($event)"></edit-team-metadata>
			</tab>
		</tabset>
	</div>

</section>
