<section class="view-team-container">
	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<div class="d-flex mb-3">
		<h1>{{ team().name }}</h1>
		<button
			class="btn btn-link ms-auto"
			type="button"
			*hasTeamRole="team(); role: 'admin'"
			(click)="remove(team())"
		>
			Delete Team
		</button>
	</div>
	<ul class="nav nav-tabs">
		@for (topic of topics; track topic) {
			<li class="nav-item" role="presentation">
				<a
					class="nav-link"
					routerLinkActive="active"
					[routerLink]="['/team/', team()._id, topic.path]"
				>
					{{ topic.title }}
				</a>
			</li>
		}
	</ul>
	<div class="view-team-section-container">
		<router-outlet></router-outlet>
	</div>
</section>
