<div class="search-input-container d-flex">
	<input
		class="form-control"
		type="text"
		[(ngModel)]="search"
		[placeholder]="placeholder"
		(input)="onInput()"
		(keyup)="onKeyup()"
	/>
	<span class="icon fa-solid fa-search" *ngIf="search.length === 0"></span>
	<span
		class="icon fa-solid fa-times"
		*ngIf="search.length > 0"
		(click)="clearSearch($event)"
	></span>
</div>
<div class="text-muted pt-2" *ngIf="!disableMinCountMessage && showMinCountMessage" [@minCount]>
	<div class="pt-2">Searches require a minimum of {{ minSearchCharacterCount }} characters.</div>
</div>
