<div class="search-input-container d-flex">
	<input
		type="text"
		[placeholder]="placeholder"
		class="form-control"
		[(ngModel)]="search"
		(keyup)="onKeyup()"
		(input)="onInput()"
	/>
	<span *ngIf="search.length === 0" class="icon fa fa-search"></span>
	<span *ngIf="search.length > 0" (click)="clearSearch($event)" class="icon fa fa-times"></span>
</div>
<div *ngIf="!disableMinCountMessage && showMinCountMessage" [@minCount] class="text-muted pt-2">
	<div class="pt-2">Searches require a minimum of {{ minSearchCharacterCount }} characters.</div>
</div>
