<section class="container">

	<section class="row" *ngIf="loaded">

		<!-- PKI Authentication Strategy -->
		<div class="signin-loading-container" *ngIf="pkiMode">
			<loading-spinner message="Signing In..."></loading-spinner>
		</div>

		<!-- Username/Password Authentication Strategy -->
		<div class="signin-container" *ngIf="!pkiMode">

			<h2 class="text-center">Sign In</h2>

			<div class="signin-form form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label for="username">Username</label>
						<input autofocus type="text" id="username" name="username" class="form-control" [(ngModel)]="username" (keyup.enter)="signin()" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" (keyup.enter)="signin()" placeholder="Password">
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-primary" (click)="signin()">Sign In</button>
						<button type="button" class="btn btn-outline-secondary" routerLink="/signup">or Sign Up</button>
					</div>
					<div [hidden]="!error" class="text-center text-danger">
						<strong>{{error}}</strong>
					</div>
				</fieldset>
			</div>

		</div>

	</section>


</section>
