<section class="container">
	<section class="row" *ngIf="loaded">
		<!-- PKI Authentication Strategy -->
		<div class="signin-loading-container mx-auto mt-5" *ngIf="pkiMode">
			<loading-spinner message="Signing In..." [hidden]="error"> </loading-spinner>
			<div class="text-center text-danger" [hidden]="!error">
				<p>Unable to authenticate:</p>
				<strong>{{ error }}</strong>
			</div>
		</div>

		<!-- Username/Password Authentication Strategy -->
		<div class="signin-container mx-auto mt-5" *ngIf="!pkiMode">
			<h2 class="text-center">Sign In</h2>

			<div class="signin-form" autocomplete="off">
				<fieldset>
					<legend></legend>
					<div class="form-group">
						<label for="username">Username</label>
						<input
							class="form-control"
							id="username"
							name="username"
							type="text"
							autofocus
							placeholder="Username"
							[(ngModel)]="username"
							(keyup.enter)="signin()"
						/>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input
							class="form-control"
							id="password"
							name="password"
							type="password"
							placeholder="Password"
							[(ngModel)]="password"
							(keyup.enter)="signin()"
						/>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-primary mr-2" type="submit" (click)="signin()">
							Sign In
						</button>
						<button class="btn btn-link" type="button" routerLink="/signup">
							or Sign Up
						</button>
					</div>
					<div class="text-center text-danger" [hidden]="!error">
						<strong>{{ error }}</strong>
					</div>
				</fieldset>
			</div>
		</div>
	</section>
</section>
