@import '../../../styles/colors';

.signin-loading-container {

	margin: 64px auto 0 auto;
}

.signin-container {

	width: 240px;
	margin: 2rem auto 0 auto;

	.signin-form {

	}

	.btn-primary {
		margin-right: 10px;
	}

}
