//==================================
// Theme Colors
//==================================
$color1: #f15a2a;
$color2: #2d2952;
$color3: #3c91e6;
$color4: #14152f;


$color-text-white: #fff;
$color-text-light: #90a0b0;

$color-text-black: #000;
$color-text-dark: #324065;

$color-bg-white: rgb(255, 255, 255);
$color-bg-black: rgb(34, 34, 34);
$color-bg-light: rgb(243, 243, 243);

$color-bg-dark-transparent: rgba(34, 34, 34, 0.6);
$color-bg-light-transparent: rgba(255, 255, 255, 0.6);

$color-border-light: #bdc3c7;
$color-border: #bdc3c7;
$color-border-dark: #bdc3c7;


//==================================
// page-banners
//==================================
$color-bg-copyright: $color-bg-light;
$color-text-copyright: $color-text-black;

$color-bg-footer: $color-bg-black;
$color-text-footer: $color-text-white;

$color-bg-header: $color-bg-footer;
$color-text-header: $color-text-footer;
