<section>
	<h1 class="mb-3">Notifications</h1>

	<!-- Alert Notifications -->
	<system-alert />

	<div class="pt-2 d-flex flex-column align-items-stretch">
		<asy-search-input
			class="mx-auto mb-4"
			placeholder="Search messages..."
			(applySearch)="onSearch($event)"
		/>
		<div class="p-2">
			@if (newMessages()) {
				<div>
					<button class="btn btn-sm btn-link" type="button" (click)="loadNewMessages()">
						Load new messages
					</button>
				</div>
			}
			@if (messages().length === 0) {
				<div>
					<p class="text-center">No messages to display.</p>
				</div>
			}
			@for (message of messages(); track message) {
				<app-message class="mb-4" [message]="message">
					<span class="ms-auto">{{ message.created | agoDate }}</span>
				</app-message>
			}
		</div>
	</div>
</section>
