@import '../../../../styles/shared';
@import '../shared';

$card-width: 800px;

section {
	min-width: 500px;
}

.card-message {
	@include card-message();

	width: 100%;
	max-width: $card-width;
	margin: auto;
}
