<div class="text-nowrap mb-1">
	(
	<button class="btn btn-sm btn-link" type="button" (click)="restoreDefault()">Default</button>
	/
	<button class="btn btn-sm btn-link" type="button" (click)="selectAll()">All</button>
	)
</div>

<div
	class="overflow-auto ml-n1 column-drag-boundary"
	cdkDropList
	[cdkDropListData]="_columns"
	(cdkDropListDropped)="onDrop($event)"
>
	<div
		class="form-check text-nowrap ml-1"
		cdkDrag
		cdkDragBoundary=".column-drag-boundary"
		*ngFor="let column of _columns"
		[cdkDragData]="column"
		[cdkDragDisabled]="sortingDisabled"
	>
		<span
			class="fa-solid fa-lg fa-bars pr-1 mr-2"
			cdkDragHandle
			*ngIf="!sortingDisabled"
		></span>
		<input
			class="form-check-input"
			id="column-chooser-{{ column.key }}-checkbox"
			type="checkbox"
			[(ngModel)]="column.selected"
			(change)="onChange()"
		/>
		<label class="form-check-label" for="column-chooser-{{ column.key }}-checkbox">
			{{ column.label || (column.key | titlecase) }}
		</label>
	</div>
</div>
