<asy-modal
	title="{{ auditEntry?.audit?.auditType | titlecase }} {{
		auditEntry?.audit?.action + 'd'
	}} by {{ auditEntry?.audit?.actor?.username }} on {{ auditEntry?.created | utcDate }}"
	cancelText=""
	okText="Close"
	(cancel)="close()"
	(ok)="close()"
>
	<div class="row">
		<div class="col-md-12">
			@if (auditEntry?.audit?.object?.title) {
				<h4>
					{{ auditEntry?.audit?.object?.title }}
				</h4>
			}
			<pre>{{ auditEntry?.audit?.object | json }}</pre>
		</div>
	</div>
</asy-modal>
