<section>

	<ul class="nav nav-tabs">
		<li role="presentation"><a [routerLink]="['/admin/users', {clearCachedFilter: true}]" routerLinkActive="active">Users</a></li>
		<li role="presentation"><a [routerLink]="['/admin/cacheEntries', {clearCachedFilter: true}]" routerLinkActive="active">Cache Entries</a></li>
		<li role="presentation"><a [routerLink]="['/admin/euas', {clearCachedFilter: true}]" routerLinkActive="active">End User Agreement</a></li>
		<li role="presentation"><a [routerLink]="['/admin/messages', {clearCachedFilter: true}]" routerLinkActive="active">Messages</a></li>
		<li role="presentation"><a [routerLink]="['/admin/feedback', {clearCachedFilter: true}]" routerLinkActive="active">Feedback</a></li>
	</ul>

	<router-outlet></router-outlet>

</section>
