@import '../../../../styles/overrides';
@import '../../../../styles/shared';

$filter-dropdown-font-size: 0.75rem !default;
$filter-dropdown-max-height: 250px !default;

button {
	background: inherit;
	border: none;
	font: inherit;
	padding-top: 0;
	padding-bottom: 0;
	transform: translateY(1px);
}

.dropdown-menu {
	font-size: $filter-dropdown-font-size;
	margin-top: 0.5rem;
	max-height: $filter-dropdown-max-height;

	input {
		font-size: $filter-dropdown-font-size;
	}

	.search {
		width: 250px;

		::ng-deep .search-input-container {
			width: 100%;

			input {
				font-size: $filter-dropdown-font-size;
			}
		}
	}
	& > div {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
