@import '@angular/cdk/overlay-prebuilt.css';

// CDK Dialog
.cdk-overlay-pane.modal {
  display: block;
}

.cdk-menu {
	&.dropdown-menu {
		display: block;
		position: static;
	}
}

.cdk-overlay-pane {
	.dropdown-menu {
		display: block;
		position: static;
	}
}

