$form-required: after !default;

$nav-closed-width: 54px !default;
$nav-open-width: 275px !default;

$nav-messages-popover-max-width: 800px !default;
$nav-messages-popover-max-height: 392px !default;

$site-content-padding-y: 2rem !default;
$site-content-padding-x: 2rem !default;


$anchored-table-min-height: 375px !default;
