@import 'shared';

$link-color-light: map-get($color-accent, 'lightest') !default;
$link-color-dark: map-get($color-primary, 'default') !default;

.link {
	&.link-light {
		color: $link-color-light;
	}
	&.link-dark {
		color: $link-color-dark;
	}

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
