@import 'shared';

$radio-checkbox-label-color: $ux-color-primary-dark !default;
$radio-checkbox-checked-color: $ux-color-primary-medium !default;
$radio-checkbox-unchecked-color: $ux-color-black !default;
$radio-checkbox-disabled-color: $ux-color-light-gray !default;
$radio-checkbox-hover-color: $ux-color-highlight !default;
$radio-checkbox-size: 20px !default;
$radio-checkbox-border-width: 2px !default;
$radio-checkbox-label-padding: 10px !default;
$radio-checkbox-margin-y: .25rem !default;

// Calculated
$radio-inner-margin: ($radio-checkbox-border-width * 2) + 1;
$radio-inner-size: $radio-checkbox-size  - ($radio-inner-margin * 2);

$checkbox-inner-margin: ($radio-checkbox-border-width * 2);
$checkbox-inner-size: $radio-checkbox-size  - ($checkbox-inner-margin * 2);

input {
	&[type="radio"],
	&[type="checkbox"],
	&[type="radio"].form-check-input,
	&[type="checkbox"].form-check-input {
		left: -9999px;     // hides default ui elements
		position: absolute;

		& + label {
			position: relative;
			padding-left: $radio-checkbox-size + $radio-checkbox-label-padding;
			cursor: pointer;
			line-height: $radio-checkbox-size;
			display: inline-block;
			color: $radio-checkbox-label-color;
			margin: $radio-checkbox-margin-y 0;

			&:before {
				@include transition(box-shadow);
				content: '';
				position: absolute;
				left: 0;
				width: $radio-checkbox-size;
				height: $radio-checkbox-size;
				border: $radio-checkbox-border-width solid $radio-checkbox-unchecked-color;
				background: $ux-color-white;
			}

			&:after {
				@include transition(transform);
				position: absolute;
				opacity: 0;
				transform: scale(0);
			}
		}

		&:hover {
			& + label {
				&:before {
					border-color: $radio-checkbox-hover-color;
				}
			}
		}

		&:focus + label::before {
			@include focus-style;
		}

		&:checked {
			& + label {
				&:before {
					border-color: $radio-checkbox-checked-color;
				}

				&:after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
		}

		&:disabled {
			& + label {
				&:before {
					border-color: $radio-checkbox-disabled-color;
				}
			}
		}
	}

	&[type="radio"] {
		+ label {
			&:before {
				border-radius: 100%;
			}

			&:after {
				content: '';
				top: $radio-inner-margin;
				left: $radio-inner-margin;
				width: $radio-inner-size;
				height: $radio-inner-size;
				background: $radio-checkbox-checked-color;
				border-radius: 100%;
			}
		}
	}

	&[type="checkbox"] {
		& + label {
			&:before {
				border-radius: $border-radius;
			}

			&:after {
				font: normal normal normal $checkbox-inner-size/1 FontAwesome; /* stylelint-disable-line */
				color: $ux-color-white;
				content: '\f00c';
				top: $checkbox-inner-margin;
				left: $checkbox-inner-margin;
			}
		}

		&:checked {
			& + label {
				&:before {
					background: $radio-checkbox-checked-color;
				}
			}
		}
	}
}
