@import './colors';

$ux-h1-font-size: 22px !default;
$ux-h2-font-size: 20px !default;
$ux-h3-font-size: 18px !default;
$ux-h4-font-size: 16px !default;
$ux-h5-font-size: 14px !default;
$ux-subheading-font-size: 16px !default;
$ux-label-font-size: 14px !default;
$ux-caption-font-size: 12px !default;

$font-family: 'Roboto', 'Arial' !default;
$font-family-bold: 'Roboto-Bold' !default;
$font-family-light: 'Roboto-Light' !default;
$font-family-medium: 'Roboto Medium', 'Roboto' !default;
$font-family-italic: 'Roboto-Italic', 'Roboto Italic', 'Roboto' !default;

$font-line-height: 20px !default;
$font-size: 14px !default;

@mixin font-smoothing($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin font($family: $font-family, $size: $font-size) {
	font-family: $family;
	font-size: $size;
	font-style: normal;
}

@mixin font-light($size: $font-size) {
	@include font($font-family-light, $size);
}

@mixin font-normal($size: $font-size) {
	@include font($font-family, $size);
}

@mixin font-medium($size: $font-size) {
	@include font($font-family-medium, $size);
}

@mixin font-bold($size: $font-size) {
	@include font($font-family-bold, $size);
}

@mixin font-color-dark($color: $ux-color-black) {
	color: $color;
	@include font-smoothing(auto);
}

@mixin font-color-light($color: $ux-color-white) {
	color: $color;
	@include font-smoothing(antialiased);
}
