$font-family: 'Roboto', 'Arial';
$font-family-bold: 'Roboto-Bold';
$font-family-light: 'Roboto-Light';
$font-family-medium: 'Roboto Medium', 'Roboto';
$font-family-italic: 'Roboto-Italic', 'Roboto Italic', 'Roboto';

$font-line-height: 20px;
$font-size: 14px;

@mixin font-smoothing($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin font($family: $font-family, $size: $font-size) {
	font-family: $family;
	font-size: $size;
	font-style: normal;
}

@mixin font-light($size: $font-size) {
	@include font($font-family-light, $size);
}

@mixin font-normal($size: $font-size) {
	@include font($font-family, $size);
}

@mixin font-medium($size: $font-size) {
	@include font($font-family-medium, $size);
}

@mixin font-bold($size: $font-size) {
	@include font($font-family-bold, $size);
}

@mixin font-color-dark($color: $color-text-black) {
	color: $color;
	@include font-smoothing(auto);
}

@mixin font-color-light($color: $color-text-white) {
	color: $color;
	@include font-smoothing(antialiased);
}
