<ng-container cdkColumnDef [sticky]="sticky" [stickyEnd]="stickyEnd">
	<th cdk-header-cell *cdkHeaderCellDef>
		@if (enableSelectAll() && multi()) {
			<div class="form-check">
				<input
					class="form-check-input"
					id="table-select-all"
					type="checkbox"
					[checked]="_isAllSelected$ | async"
					(change)="_toggleAll()"
				/>
				<label class="form-check-label" for="table-select-all"></label>
			</div>
		}
	</th>
	<td cdk-cell *cdkCellDef="let result; let index = index; let dataIndex = dataIndex">
		<div class="form-check">
			<input
				class="form-check-input"
				id="table-selected-{{ _isMultiTemplateDataRows ? dataIndex : index }}"
				type="{{ multi() ? 'checkbox' : 'radio' }}"
				[checked]="isSelected(_isMultiTemplateDataRows ? dataIndex : index, result)"
				[disabled]="!isSelectable(_isMultiTemplateDataRows ? dataIndex : index, result)"
				(change)="toggle(_isMultiTemplateDataRows ? dataIndex : index, result)"
			/>
			<label
				class="form-check-label"
				for="table-selected-{{ _isMultiTemplateDataRows ? dataIndex : index }}"
			></label>
		</div>
	</td>
</ng-container>
