<section *ngIf="user?.userModel">
	<!-- Show a breadcrumb to the list users page -->
	<a
		class="back-link"
		routerLink="/admin/users"
		*ngIf="mode === 'admin-edit' || mode === 'admin-create'"
	>
		<span class="fa-solid fa-angle-double-left"></span> Back to Users
	</a>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<form
		class="pt-3"
		role="form"
		autocomplete="off"
		novalidate
		style="max-width: 1000px"
		#form="ngForm"
		*ngIf="user"
		(ngSubmit)="submit()"
	>
		<div class="d-flex">
			<h1>
				{{ title }}
				<small>{{ subtitle }}</small>
			</h1>
		</div>

		<!-- Name -->
		<div class="form-group pt-3">
			<label class="form-required" for="name">Name</label>
			<input
				class="form-control"
				id="name"
				name="name"
				type="text"
				required
				[(ngModel)]="user.userModel.name"
				[disabled]="metadataLocked"
			/>
		</div>

		<!-- Username -->
		<div class="form-group">
			<label class="form-required" for="username">Username</label>
			<input
				class="form-control"
				id="username"
				name="username"
				type="text"
				required
				[(ngModel)]="user.userModel.username"
				[disabled]="metadataLocked"
			/>
		</div>

		<!-- Organization -->
		<div class="form-group">
			<label class="form-required" for="organization">Organization</label>
			<input
				class="form-control"
				id="organization"
				name="organization"
				type="text"
				required
				[(ngModel)]="user.userModel.organization"
				[disabled]="metadataLocked"
			/>
		</div>

		<!-- Email -->
		<div class="form-group">
			<label class="form-required" for="email">Email</label>
			<input
				class="form-control"
				id="email"
				name="email"
				type="email"
				required
				[(ngModel)]="user.userModel.email"
				[disabled]="metadataLocked"
			/>
		</div>

		<!-- Local Login Information -->
		<ng-container *ngIf="config.auth === 'local'">
			<h2 class="pt-3">
				Password
				<small
					>At least 6 characters.
					<span *ngIf="mode === 'edit' || mode === 'admin-edit'"
						>Leave blank if you do not want to change the password.</span
					></small
				>
			</h2>

			<!-- Current password is needed if you aren't an admin and you're editing -->
			<div class="form-group pt-3" *ngIf="mode === 'edit'">
				<label for="currentPassword">Current Password</label>
				<input
					class="form-control"
					id="currentPassword"
					name="password"
					type="password"
					autocomplete="off"
					[(ngModel)]="user.userModel.currentPassword"
				/>
			</div>

			<div class="form-group">
				<label for="password"><label *ngIf="mode === 'edit'">New</label> Password</label>
				<input
					class="form-control"
					id="password"
					name="password"
					type="password"
					autocomplete="off"
					[(ngModel)]="user.userModel.password"
				/>
			</div>

			<div class="form-group">
				<label for="password2"
					>Re-enter <label *ngIf="mode === 'edit'">New</label> Password</label
				>
				<input
					class="form-control"
					id="password2"
					name="password2"
					type="password"
					autocomplete="off"
					[(ngModel)]="user.userModel.verifyPassword"
				/>
			</div>
		</ng-container>

		<!-- PKI Information -->
		<ng-container *ngIf="proxyPki">
			<!-- Stuff that admins can modify but normal users don't see -->
			<ng-container *ngIf="mode === 'admin-edit' || mode === 'admin-create'">
				<!-- Bypass Access Checker -->
				<div class="form-group">
					<label>Access Check</label>
					<div class="form-check m-n1 p-1">
						<input
							class="form-check-input"
							id="bypassAC"
							name="bypassAccessCheck"
							type="checkbox"
							[(ngModel)]="user.userModel.bypassAccessCheck"
							(ngModelChange)="bypassAccessCheck()"
						/>
						<label class="form-check-label" for="bypassAC">Bypass Access Check</label>
					</div>
				</div>
			</ng-container>

			<!-- Stuff that normal users can see, but won't be able to modify -->
			<ng-container *ngIf="mode === 'admin-edit' || mode === 'edit'">
				<!-- dn -->
				<div class="form-group">
					<label for="dn">DN</label>
					<input
						class="form-control"
						id="dn"
						name="dn"
						type="text"
						disabled
						[(ngModel)]="user.userModel.providerData.dn"
					/>
				</div>

				<div class="form-group">
					<label for="externalRoles">External Roles</label>
					<textarea
						class="form-control"
						id="externalRoles"
						name="externalRoles"
						type="text"
						disabled
						rows="4"
						>{{ user.userModel.externalRolesDisplay }}</textarea
					>
				</div>

				<div class="form-group">
					<label for="externalGroups">External Groups</label>
					<textarea
						class="form-control"
						id="externalGroups"
						name="externalGroups"
						type="text"
						disabled
						rows="4"
						>{{ user.userModel.externalGroupsDisplay }}</textarea
					>
				</div>
			</ng-container>
		</ng-container>

		<!-- Admin only stuff -->
		<div class="form-group" *ngIf="mode === 'admin-edit' || mode === 'admin-create'">
			<label>Roles</label>
			<div>
				<div
					class="form-check form-check-inline"
					tooltip="{{ role.description }}"
					*ngFor="let role of possibleRoles"
				>
					<input
						class="form-check-input"
						id="role{{ role.role }}Cb"
						name="role{{ role.role }}Cb"
						type="checkbox"
						[(ngModel)]="user.userModel.roles[role.role]"
					/>
					<label class="form-check-label" for="role{{ role.role }}Cb">{{
						role.label
					}}</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="text-right">
				<button
					class="btn btn-link mr-2"
					type="button"
					routerLink="/admin/users"
					*ngIf="mode === 'admin-create' || mode === 'admin-edit'"
				>
					Cancel
				</button>
				<button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">
					{{ okButtonText }}
				</button>
				<button
					class="btn btn-link ml-2"
					type="button"
					routerLink="/signin"
					*ngIf="mode === 'signup'"
				>
					or Sign In
				</button>
			</div>
		</div>

		<!-- Validation errors -->
		<div class="form-group" *ngIf="error">
			<div class="text-right text-danger font-weight-bolder">{{ error }}</div>
		</div>
	</form>
</section>
