<span class="dropdown ml-2" container="body" [insideClick]="true" dropdown>
	<span class="dropdown-toggle dropdown-toggle-hide-caret" dropdownToggle>
		<span
			[hidden]="isFiltered"
			class="filter fa fa-list"
			tooltip="Apply Filters"
			placement="bottom"
			container="body"
		></span>
		<span
			[hidden]="!isFiltered"
			class="filter fa fa-filter"
			tooltip="Edit Filters"
			placement="bottom"
			container="body"
		></span>
	</span>

	<div
		*dropdownMenu
		class="dropdown-menu d-flex flex-column"
		[ngClass]="{ 'dropdown-menu-right': dropdownMenuRight }"
	>
		<div class="mt-3">
			<ng-select
				[items]="['Equals', 'Contains', 'Starts with', 'Ends with']"
				[(ngModel)]="option"
				(ngModelChange)="onSearchTypeChange()"
				[clearable]="false"
				[searchable]="false"
				(click)="$event.stopPropagation()"
			>
			</ng-select>
		</div>
		<div class="search mt-2 mb-3">
			<asy-search-input
				placeholder="Search..."
				(applySearch)="onSearchText($event)"
				[search]="search"
			>
			</asy-search-input>
		</div>
	</div>
</span>
