<asy-modal
	[title]="title"
	[okText]="okText"
	[cancelText]="cancelText"
	(ok)="ok()"
	(cancel)="cancel()"
	[disableOk]="!modalForm.form.valid"
	[autoCaptureFocus]="inputs && inputs.length > 0"
>
	<p *ngIf="message" [innerHTML]="message"></p>
	<form id="modalForm" #modalForm="ngForm">
		<div class="form-group" *ngFor="let input of inputs; first as isFirst">
			<label [class.form-required]="input.required">{{ input.label }}</label>

			<textarea
				class="form-control text-area"
				*ngIf="input.type === 'textarea'"
				placeholder="Enter {{ input.label }}..."
				[name]="input.key"
				[required]="input.required"
				[(ngModel)]="formData[input.key]"
				[attr.cdkFocusInitial]="isFirst"
			>
			</textarea>

			<input
				class="form-control"
				*ngIf="input.type !== 'textarea'"
				placeholder="Enter {{ input.label | lowercase }}..."
				[type]="input.type"
				[name]="input.key"
				[required]="input.required"
				[(ngModel)]="formData[input.key]"
				[attr.cdkFocusInitial]="isFirst"
			/>
		</div>
	</form>
</asy-modal>
