<section class="modal-header">
	<h2 class="modal-title">
		Cache Entry Details
	</h2>
	<button type="button" class="close"
		(click)="modalRef.hide()"
		tooltip="Close"
		placement="bottom"
		aria-label="Close">
		<span class="fa fa-times" aria-hidden="true"></span>
	</button>
</section>

<section class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<label>Key</label>
			<div>{{ cacheEntry?.key}}</div>

			<label>Last Updated</label>
			<div>{{ cacheEntry?.date | utcDate }} ({{ cacheEntry?.date | agoDate:false }})</div>

			<label>Value</label>
			<pre>{{ cacheEntry?.value | json}}</pre>
		</div>
	</div>
</section>

<section class="modal-footer">
	<button class="btn btn-outline-secondary" (click)="modalRef.hide()">
		<span class="fa fa-times"></span>
		Close
	</button>
</section>
