<section>
	<h1 skipTo>
		Cache Entries
		<small>Administer Cache Entries</small>
	</h1>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<!-- Search Input -->
	<div class="pt-2">
		<div class="d-flex mb-3">
			<asy-search-input placeholder="Search key and value..." (applySearch)="onSearch($event)"></asy-search-input>
		</div>

		<pageable-table [items]="cacheEntries"
						[hasItems]="hasCacheEntries"
						[pagingOptions]="pagingOpts"
						[tableStriped]="true"
						(onPageChange)="goToPage($event)"
						(onSortChange)="setSort($event)">

			<ng-template named-template="table-header">
				<th *ngFor="let header of headers">
					<sortable-table-header [header]="header" [currentSortField]="pagingOpts.sortField" [currentSortDir]="pagingOpts.sortDir" (onSortChange)="setSort($event)"></sortable-table-header>
				</th>
				<th>&nbsp;</th>
			</ng-template>

			<ng-template named-template="table-row" let-cacheEntry>
				<td>{{cacheEntry.entry.key}}</td>
				<td class="hide-overflow" style="max-width: 300px;">{{cacheEntry.entry.value | json}}</td>
				<td><span [attr.title]="cacheEntry.entry.ts | utcDate">{{cacheEntry.entry.ts | agoDate:false}}</span></td>
				<td class="text-right" style="max-width: 50px;">
					<span class="dropdown border-left pl-2 py-1" container="body" dropdown>
						<span class="dropdown-toggle dropdown-toggle-hide-caret px-2" style="cursor: pointer;" dropdownToggle>
							<span class="fa fa-lg fa-ellipsis-v"></span>
						</span>
						<ul *dropdownMenu class="dropdown-menu dropdown-menu-right mt-2">
							<li>
								<a class="dropdown-item" (click)="viewCacheEntry(cacheEntry)">View</a>
							</li>
							<li>
								<a class="dropdown-item" (click)="refreshCacheEntry(cacheEntry)">Refresh</a>
							</li>
							<li>
								<a class="dropdown-item" (click)="confirmDeleteEntry(cacheEntry)">Delete</a>
							</li>
						</ul>
					</span>
				</td>
			</ng-template>

			<ng-template named-template="table-no-results">
				<h2 class="text-center">
					<small>No Cache Entries matched your search</small>
				</h2>
			</ng-template>

			<ng-template named-template="table-no-data">
				<h2 class="text-center">
					<small>No Cache Entries are available</small>
				</h2>
			</ng-template>

		</pageable-table>
	</div>

</section>
