<div cdkTrapFocus [cdkTrapFocusAutoCapture]="autoCaptureFocus">
	<section class="modal-header">
		<h2 class="modal-title">
			{{ title }}
		</h2>

		<button type="button" class="close" aria-label="Cancel" (click)="cancel.emit()">
			<span class="fa fa-remove" aria-hidden="true"></span>
		</button>
	</section>

	<section class="modal-body">
		<ng-content></ng-content>
	</section>

	<section class="modal-footer">
		<button *ngIf="cancelText" class="btn btn-outline-secondary mr-2" (click)="cancel.emit()">
			{{ cancelText }}
		</button>
		<button class="btn btn-primary" (click)="ok.emit()" [disabled]="disableOk">
			{{ okText }}
		</button>
	</section>
</div>
