<section class="modal-header">
	<h2 class="modal-title">
		{{ title() }}
	</h2>

	<button class="btn-close" type="button" aria-label="Cancel" (click)="cancel.emit()"></button>
</section>

<section class="modal-body">
	<ng-content></ng-content>
</section>

<section class="modal-footer">
	@if (hideCancel()) {
		<button class="btn btn-outline-primary me-2" type="button" (click)="cancel.emit()">
			{{ cancelText() }}
		</button>
	}
	<button class="btn btn-primary" type="button" [disabled]="disableOk()" (click)="ok.emit()">
		{{ okText() }}
	</button>
</section>
