@import '../../../../styles/shared';

.feedback-form {
	width: 550px;

	form {
		overflow: auto;
		padding: $spacer * 2;
	}
}

.feedback-ready {
	background: url('/assets/images/feedback-bg.png') no-repeat right 1rem;
	background-size: 219px 129px;
}
