@import '../../../../styles/shared';

:host {
	& ::ng-deep .flyout-btn {
		width: 118px;
	}
}

.feedback-form {
	width: 550px;

	form {
		height: 100%;
		overflow: auto;
		padding: 2rem;
	}
}

.feedback-ready {
	background: var(--bs-body-bg) url('/assets/images/feedback-bg.png') no-repeat right 1rem;
	background-size: 219px 129px;
}
