<section>

	<h1 skipTo>
		Audit Entries
		<small>Browse and search audit entries</small>
	</h1>

	<!-- Alert Notifications -->
	<!-- <system-alert></system-alert> -->

	<div class="row pt-2">
		<div class="col-md-2">
			<div class="quick-select card">
				<div>
					<span class="collapsible" (click)="timestampFormShown = !timestampFormShown">
						<span class="quick-select-title">
							<span class="fa fa-clock-o"></span>
							Timestamp
							<span class="fa fa-fw" [ngClass]="{ 'fa-caret-up': timestampFormShown, 'fa-caret-down': !timestampFormShown }"></span>
						</span>
					</span>
				</div>
				<div *ngIf="timestampFormShown" class="quick-select-header">
					<ng-select [items]="dateRangeOptions" [clearable]="false" bindLabel="display" bindValue="value"
							   (change)="refresh()"
							   [(ngModel)]="dateRangeFilter.selected" name="timestamp"
							   dropdownPosition="bottom">
					</ng-select>
					<div class="d-flex mt-2" *ngIf="dateRangeFilter.selected === 'choose'">
						<input type="text" class="form-control" bsDatepicker #qsDp="bsDatepicker"
							   name="dob"
							   autocomplete="off"
							   placeholder="Enter start date..."
							   placement="bottom"
							   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false, containerClass: 'theme-default audit-list-filter'}"
							   (bsValueChange)="updateDateRange()" [maxDate]="queryEndDate"
							   [outsideClick]="true" required [(ngModel)]="queryStartDate">
						<span class="icon fa fa-calendar" (click)="qsDp.toggle()"></span>
					</div>
					<div class="d-flex mt-2" *ngIf="dateRangeFilter.selected === 'choose'">
						<input type="text" class="form-control" bsDatepicker #qeDp="bsDatepicker"
							   name="dob"
							   autocomplete="off"
							   placeholder="Enter end date..."
							   placement="bottom"
							   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false, containerClass: 'theme-default audit-list-filter'}"
							   (bsValueChange)="updateDateRange()" [minDate]="queryStartDate"
							   [outsideClick]="true" required [(ngModel)]="queryEndDate">
						<span class="icon fa fa-calendar" (click)="qeDp.toggle()"></span>
					</div>
				</div>
			</div>

			<div class="quick-select card">
				<div>
					<span class="collapsible" (click)="actorFormShown = !actorFormShown">
						<span class="quick-select-title">
							<span class="fa fa-user"></span>
							Actor:
							<span class="fa fa-fw" [ngClass]="{ 'fa-caret-up': actorFormShown, 'fa-caret-down': !actorFormShown }"></span>
						</span>
					</span>
				</div>

				<div *ngIf="actorFormShown" class="quick-select-header">
					<input type="text" name="actor" class="form-control input-sm"
						placeholder="Search..."
						[(ngModel)]="queryUserSearchTerm"
						[typeahead]="searchUsersRef"
						[typeaheadOptionField]="'displayName'"
						[typeaheadMinLength]="1"
						[typeaheadWaitMs]="300"
						(typeaheadOnSelect)="typeaheadOnSelect($event)"
						(keyup.enter)="refresh()">
				</div>

			</div>

			<!-- Quick Filters -->
			<div class="quick-select card">
				<div>
					<span class="collapsible" (click)="actionsFormShown = !actionsFormShown">
						<span class="quick-select-title">
							<span class="fa fa-mouse-pointer"></span>
							Actions
							<span class="fa fa-fw" [ngClass]="{ 'fa-caret-up': actionsFormShown, 'fa-caret-down': !actionsFormShown }"></span>
						</span>
					</span>
				</div>
				<div *ngIf="actionsFormShown" class="quick-select-header">
					<div *ngFor="let option of actionOptions; let idx = index" class="form-check hide-overflow m-n1 p-1">
						<input class="form-check-input" type="checkbox" [(ngModel)]="option.selected" (ngModelChange)="refresh()" id="actionOption{{idx}}">
						<label class="form-check-label" for="actionOption{{idx}}">{{ option.display }}</label>
					</div>
				</div>
			</div>

			<div class="quick-select card">
				<div>
					<span class="collapsible" (click)="typeFormShown = !typeFormShown">
						<span class="quick-select-title">
							<span class="fa fa-tag"></span>
							Type
							<span class="fa fa-fw" [ngClass]="{ 'fa-caret-up': typeFormShown, 'fa-caret-down': !typeFormShown }"></span>
						</span>
					</span>
				</div>
				<div *ngIf="typeFormShown" class="quick-select-header">
					<div *ngFor="let option of auditTypeOptions; let idx = index" class="form-check hide-overflow m-n1 p-1">
						<input class="form-check-input" type="checkbox" [(ngModel)]="option.selected" (ngModelChange)="refresh()" id="auditTypeOption{{idx}}">
						<label class="form-check-label" for="auditTypeOption{{idx}}">{{ option.display }}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<pageable-table [items]="auditEntries"
				[hasItems]="hasAuditEntries"
				[pagingOptions]="pagingOpts"
				[tableStriped]="true"
				(onPageChange)="goToPage($event)"
				(onRefresh)="refresh()">

				<ng-template named-template="table-header">
					<th>
						<a class="no-href" (click)="setSort('audit.actor.name')">
							<i class="fa fa-user"></i> Actor<i class="fa fa-fw" [ngClass]="{'fa-caret-down': pagingOpts.sortField === 'audit.actor.name' && pagingOpts.sortDir === 'DESC', 'fa-caret-up': pagingOpts.sortField === 'audit.actor.name' && pagingOpts.sortDir === 'ASC'}"></i>
						</a>
					</th>
					<th>
						<a class="no-href" (click)="setSort('created')">
							<i class="fa fa-clock-o"></i> Timestamp<i class="fa fa-fw" [ngClass]="{'fa-caret-down': pagingOpts.sortField === 'created' && pagingOpts.sortDir === 'DESC', 'fa-caret-up': pagingOpts.sortField === 'created' && pagingOpts.sortDir === 'ASC'}"></i>
						</a>
					</th>
					<th>
						<a class="no-href" (click)="setSort('audit.action')">
							Action<i class="fa fa-fw" [ngClass]="{'fa-caret-down': pagingOpts.sortField === 'audit.action' && pagingOpts.sortDir === 'DESC', 'fa-caret-up': pagingOpts.sortField === 'audit.action' && pagingOpts.sortDir === 'ASC'}"></i>
						</a>
					</th>
					<th>
						<a class="no-href" (click)="setSort('audit.auditType')">
							Type<i class="fa fa-fw" [ngClass]="{'fa-caret-down': pagingOpts.sortField === 'audit.auditType' && pagingOpts.sortDir === 'DESC', 'fa-caret-up': pagingOpts.sortField === 'audit.auditType' && pagingOpts.sortDir === 'ASC'}"></i>
						</a>
					</th>
					<th>Object</th>
					<th><i class="fa fa-history"></i> Before</th>
					<th><i class="fa fa-file-text-o"></i> Message</th>
				</ng-template>
		
				<ng-template named-template="table-row" let-entry>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							<asy-audit-component [auditObject]="entry.audit.actor" auditType="user"></asy-audit-component>
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							{{entry?.created | utcDate }}
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							{{entry?.audit?.action}}
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							{{entry?.audit?.auditType}}
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							<asy-audit-component [auditObject]="(null != entry.audit.object.after) ? entry.audit.object.after : entry.audit.object" [auditType]="entry.audit.auditType"></asy-audit-component>
							<div>
								<small *ngIf="entry.audit.action === 'create' || entry.audit.action === 'delete'">
									<a class="btn-icon no-href"
										[hidden]="null == entry.audit.object"
										(click)="viewMore(entry, 'viewDetails')">
										<i class="fa fa-eye"></i><span>View Details</span>
									</a>
								</small>
								<small style="opacity: 0.5" *ngIf="entry.audit.action === 'save'"><span>No Changes Detected</span></small>
							</div>
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							<asy-audit-component [auditObject]="entry.audit.object.before" [auditType]="entry.audit.auditType"></asy-audit-component>
							<div>
								<small *ngIf="entry.audit.action === 'update' || entry.audit.action === 'admin update'">
									<a class="btn-icon no-href"
										[hidden]="null == entry.audit.object || null == entry.audit.object.before"
										tooltip="See details of the update"
										placement="bottom"
										container="body"
										(click)="viewMore(entry, 'viewChanges')">
										<i class="fa fa-eye"></i><span>View Changes</span>
									</a>
								</small>
								<small style="opacity: 0.5" *ngIf="entry.audit.action === 'save'"><span>No Changes Detected</span></small>
							</div>
						</div>
					</td>
					<td >
						<div class="hide-overflow" style="max-width:200px;">
							{{entry?.message}}
						</div>
					</td>
				</ng-template>

				<ng-template named-template="table-no-data">
					<h3>
						No Audit Entries<br/>
						<small>
							You may not have access to Audit Entries.<br/>
							Read our <a data-ui-sref="help.overview">getting started page</a> for more details.
						</small>
					</h3>
				</ng-template>

				<ng-template named-template="table-no-results">
					<h3>
						No Audit Entries?<br/>
						<small>
							Either there were no Audit Entries that matched your search or you don't have access to Audit Entries.<br/>
							Read our <a data-ui-sref="help.overview">getting started page</a> for more details.
						</small>
					</h3>
				</ng-template>

			</pageable-table>
		</div>
	</div>

</section>
