$dropdown-min-width: 100px;

:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.cdk-column-body {
	min-width: 400px;
	white-space: pre-wrap;
}

.dropdown-menu {
	min-width: $dropdown-min-width;
}
