@if (isMasquerading) {
	<div class="mx-auto mt-5">
		<loading-spinner message="Clearing Masquerade..."> </loading-spinner>
	</div>
} @else {
	<div class="form-group mb-2">
		<label>Search Type</label>
		<div class="form-check">
			<input
				class="form-check-input"
				id="searchType-option-user"
				name="searchType-option-radio"
				type="radio"
				[value]="false"
				[(ngModel)]="searchByDn"
			/>
			<label class="form-check-label mb-2" for="searchType-option-user">By User</label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input"
				id="searchType-option-dn"
				name="searchType-option-radio"
				type="radio"
				[value]="true"
				[(ngModel)]="searchByDn"
			/>
			<label class="form-check-label mb-2" for="searchType-option-dn">By DN</label>
		</div>
	</div>
	@if (!searchByDn) {
		<div class="form-group">
			<ng-select
				bindValue="providerData.dn"
				placeholder="Search for user..."
				style="width: 300px"
				[(ngModel)]="selectedUserDn"
				[items]="users$ | async"
				[loading]="usersLoading"
				[typeahead]="usersInput$"
			>
				<ng-template let-item="item" ng-label-tmp ng-option-tmp>
					{{ item.name }} [{{ item.username }}]
				</ng-template>
			</ng-select>
		</div>
	} @else {
		<div class="form-group">
			<input
				class="form-control"
				placeholder="User DN..."
				style="width: 300px"
				[(ngModel)]="selectedUserDn"
			/>
		</div>
	}
	<button class="btn btn-primary" [disabled]="!selectedUserDn" (click)="submit()">
		Masquerade
	</button>
}
