<div class="container-fluid">
	<h1>Loading Overlay</h1>
	<div class="position-relative mb-3" style="border: dashed">
		<loading-overlay
			[errorMessage]="errorMessage"
			[isError]="isError"
			[isLoading]="isLoading"
			(retry)="handleRetry()"
		/>
		<p class="p-3">This is the where the loaded content will go</p>
		<br />
		<br />
	</div>

	<button class="btn btn-primary" type="button" [disabled]="isError" (click)="toggleLoading()">
		{{ isLoading ? 'Stop' : 'Start' }} Loading
	</button>
	<button
		class="btn btn-primary ms-3"
		type="button"
		[disabled]="!isLoading"
		(click)="toggleError()"
	>
		{{ isError ? 'Hide' : 'Show' }} Error
	</button>
</div>
