@import '../../../styles/shared';

$header-banner-height: $font-line-height !default;
$header-banner-bg: map-get($color-background, 'darkest') !default;
$header-banner-color: map-get($color-background, 'darkest-contrast') !default;

$footer-banner-height: $font-line-height !default;
$footer-banner-bg: map-get($color-background, 'darkest') !default;
$footer-banner-color: map-get($color-background, 'darkest-contrast') !default;

$copyright-banner-height: $font-line-height !default;
$copyright-banner-bg: map-get($color-background, 'default') !default;
$copyright-banner-color: map-get($color-background, 'default-contrast') !default;
