<a class="skip-link" href="#" (click)="skipToMainContent($event)">
	Skip to main content
</a>

<!-- Site Header -->
<header class="site-header">
	<div class="site-banner" *ngIf="bannerHtml">
		<div class="header-banner" [innerHtml]="bannerHtml"></div>
	</div>
</header>

<!-- Site content -->
<section class="site-body">
	<site-navbar>
		<main class="site-content h-100 overflow-auto" id="app-content" tabindex="-1">
			<ng-content></ng-content>
		</main>
	</site-navbar>
</section>

<!-- Site Footer -->
<footer class="site-footer">
	<div class="site-banner" *ngIf="copyrightHtml">
		<div class="copyright-banner" [innerHtml]="copyrightHtml"></div>
	</div>

	<div class="site-banner" *ngIf="bannerHtml">
		<div class="footer-banner" [innerHtml]="bannerHtml"></div>
	</div>
</footer>

<ng-container *isAuthenticated>
	<app-feedback-flyout *ngIf="showFeedbackFlyout"></app-feedback-flyout>
</ng-container>
