<a class="skip-link" href="#" (click)="skipToMainContent($event)"> Skip to main content </a>

<!-- Site Header -->
<header class="site-header">
	@if (bannerHtml()) {
		<div class="site-banner">
			<div class="header-banner" [innerHtml]="bannerHtml()"></div>
		</div>
	}
</header>

<!-- Site content -->
<section class="site-body">
	<site-navbar>
		<main class="site-content h-100 overflow-auto" id="app-content" cdkScrollable tabindex="-1">
			<ng-content></ng-content>
		</main>
	</site-navbar>
</section>

<!-- Site Footer -->
<footer class="site-footer">
	@if (copyrightHtml()) {
		<div class="site-banner">
			<div class="copyright-banner" [innerHtml]="copyrightHtml()"></div>
		</div>
	}
	@if (bannerHtml()) {
		<div class="site-banner">
			<div class="footer-banner" [innerHtml]="bannerHtml()"></div>
		</div>
	}
</footer>

<app-feedback-flyout *isAuthenticated="true; and: showFeedbackFlyout()"></app-feedback-flyout>
