@import '../../../styles/overrides';
@import '../../../styles/shared';
@import './shared';

$banner-z-index: 10002;

header.site-header {
	z-index: $banner-z-index;
}

footer.site-footer {
	z-index: $banner-z-index;
}

.site-banner {
	text-align: center;

	width: 100%;
	z-index: $banner-z-index;
}

.copyright-banner {
	background-color: $copyright-banner-bg;
	color: $copyright-banner-color;
	height: $copyright-banner-height;
}

.footer-banner {
	background-color: $footer-banner-bg;
	color: $footer-banner-color;
	height: $footer-banner-height;
}

.header-banner {
	background-color: $header-banner-bg;
	color: $header-banner-color;
	height: $header-banner-height;
}

.site-footer {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}

.site-header {
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
}

.site-content {
	margin-bottom: 0;
	margin-top: 0;

	padding: $site-content-padding-y $site-content-padding-x;

	.header-active & {
		margin-top: $header-banner-height;
	}

	.footer-active & {
		margin-bottom: $footer-banner-height;
	}

	.copyright-active & {
		margin-bottom: $copyright-banner-height;
	}

	.copyright-active.footer-active &{
		margin-bottom: $footer-banner-height + $copyright-banner-height;
	}
}

a.skip-link {
	position: absolute;
	top: -1000em;

	&:focus {
		position: fixed;
		top: 0;
		left: 0;
		z-index: $banner-z-index + 1;

		padding: 10px;
		background-color: $ux-color-primary;
		color: $color-white;
		text-decoration: underline;
	}
}
