<!-- Site Header -->
<header class="site-header">

	<div class="site-banner" *ngIf="null != bannerContent">
		<div class="header-banner"
		     [innerHtml]="bannerContent"></div>
	</div>

</header>


<!-- Site content -->
<section [ngClass]="{'header-active footer-active' : null != bannerContent, 'copyright-active': null != copyrightContent}">

	<site-navbar>

		<section class="site-content">
			<ng-content></ng-content>
		</section>

	</site-navbar>

</section>


<!-- Site Footer -->
<footer class="site-footer">

	<div class="site-banner" *ngIf="null != copyrightContent">
		<div class="copyright-banner"
		     [innerHtml]="copyrightContent"></div>
	</div>

	<div class="site-banner" *ngIf="null != bannerContent">
		<div class="footer-banner"
		     [innerHtml]="bannerContent"></div>
	</div>

</footer>
