<div class="table" [ngClass]="{'card p-3': showInCard}">
	<div class="table-header align-items-center mb-3" *ngIf="pagerAtTop || showActions" [hidden]="items?.length === 0">
		<div class="table-actions d-flex flex-grow-1" *ngIf="showActions">
			<ng-template [transclusion]="actionTemplate"></ng-template>
		</div>

		<div class="table-header-pager" *ngIf="pagerAtTop" [ngClass]="{'ml-auto': !showActions}">
			<asy-pager
				[pageNumber]="pagingOptions?.pageNumber"
				[pageSize]="pagingOptions?.pageSize"
				[totalSize]="pagingOptions?.totalSize"
				[maxPageSize]="pagingOptions?.pageSize"
				[currentSize]="items?.length"
				[disableGoToEnd]="disableGoToEnd"
				(onChange)="onPageChange.emit($event)">
			</asy-pager>
		</div>
	</div>

	<div class="table-content table-responsive" [hidden]="hideTableToData && items?.length === 0">
		<!-- Actual Results -->
		<table class="table" [ngClass]="{'table-striped': tableStriped, 'table-hover': tableHover}">
			<thead>
			<tr>
				<ng-template [transclusion]="headerTemplate"></ng-template>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let item of items; let i = index" class="table-row">
				<ng-template
					*ngIf="rowTemplate"
					[transclusion]="rowTemplate"
					[item]="item"
					[index]="i">
				</ng-template>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="table-no-results" *ngIf="!loading && hasItems && items?.length === 0">
		<ng-template [transclusion]="noResultsTableTemplate"></ng-template>
	</div>

	<div class="table-no-data" *ngIf="!hasItems && !loading">
		<ng-template [transclusion]="noDataTableTemplate"></ng-template>
	</div>

	<div class="table-footer align-items-center" *ngIf="pagerAtBottom || showFooterActions" [hidden]="items?.length === 0">
		<div class="table-actions d-flex flex-grow-1" *ngIf="showFooterActions">
			<ng-template [transclusion]="footerActionTemplate"></ng-template>
		</div>

		<div class="table-footer-pager" *ngIf="pagerAtBottom" [ngClass]="{'ml-auto': !showFooterActions}">
			<asy-pager
				[pageNumber]="pagingOptions?.pageNumber"
				[pageSize]="pagingOptions?.pageSize"
				[totalSize]="pagingOptions?.totalSize"
				[maxPageSize]="pagingOptions?.pageSize"
				[currentSize]="items?.length"
				[disableGoToEnd]="disableGoToEnd"
				(onChange)="onPageChange.emit($event)">
			</asy-pager>
		</div>
	</div>
</div>
