@import '../../../../styles/shared';

$paginator-controls-padding-x: 5px !default;
$paginator-controls-padding-y: 0 !default;
$paginator-controls-margin-top: -5px !default;
$paginator-display-disabled-controls: inline-block !default;

.btn-link {
	margin-top: $paginator-controls-margin-top;
	padding: $paginator-controls-padding-y $paginator-controls-padding-x;

	&[disabled] {
		display: $paginator-display-disabled-controls;
	}
}
