<section>
	<h2>
		System Feedback
	</h2>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<div class="pt-2">

		<div class="d-flex mb-3 align-items-center">
			<asy-search-input placeholder="Search..." (applySearch)="onSearch($event)"
							  style="width: 350px"></asy-search-input>
			<button type="button" class="btn btn-outline-secondary ml-auto" (click)="export()">
				<span class="fa fa-download"></span> Export
			</button>
		</div>

		<pageable-table [items]="feedbacks" [pagingOptions]="pagingOpts" (onPageChange)="goToPage($event)">

			<ng-template named-template="table-header">
				<th *ngFor="let header of headers">
					<sortable-table-header [header]="header" [currentSortField]="pagingOpts.sortField" [currentSortDir]="pagingOpts.sortDir" (onSortChange)="setSort($event)"></sortable-table-header>
				</th>
			</ng-template>

			<ng-template named-template="table-row" let-feedback>
				<td>
					<div class="hide-overflow">{{ feedback?.creator?.name }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.creator?.email }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.type | titlecase }}</div>
				</td>
				<td>
					<div style="width: 300px; white-space: pre-wrap">{{ feedback?.body }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.url }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.browser }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.os }}</div>
				</td>
				<td tooltip="{{ feedback?.created | utcDate }}" container="body" placement="top">
					<div class="hide-overflow">{{ feedback?.created | agoDate:false }}</div>
				</td>
			</ng-template>

			<ng-template named-template="empty-table">
				<h2>
					<small>No Feedback</small>
				</h2>
			</ng-template>

		</pageable-table>

	</div>

</section>
