<section>

	<h1 skipTo>
		Messages
		<small>Administer Messages</small>
	</h1>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<div class="pt-2">
		<pageable-table [items]="items"
						[hasItems]="hasItems"
						[pagingOptions]="pagingOptions"
						[showActions]="true"
						[tableStriped]="true"
						(pageChange)="pageEvent$.next($event)">

			<ng-template #tableActions>
				<asy-search-input placeholder="Search..." (applySearch)="searchEvent$.next($event)"></asy-search-input>
				<button [routerLink]="['/admin/message/']" type="button" class="btn btn-primary ml-auto">
					<span class="fa fa-plus"></span> Create Message
				</button>
			</ng-template>

			<ng-template #tableHeader>
				<th scope="col" *ngFor="let header of headers">
					<sortable-table-header [header]="header" [currentSortField]="pagingOptions.sortField"
										   [currentSortDir]="pagingOptions.sortDir" (sortChange)="sortEvent$.next($event)">
					</sortable-table-header>
				</th>
				<th scope="col">&nbsp;</th>
			</ng-template>

			<ng-template #tableRow let-message="item">
				<td>{{message.title}}</td>
				<td>{{message.type}}</td>
				<td>{{message.created | agoDate:false}}</td>
				<td>{{message.updated | agoDate:false}}</td>
				<td class="text-right" style="max-width: 50px;">
					<span class="dropdown border-left pl-2 py-1" container="body" dropdown>
						<span class="dropdown-toggle dropdown-toggle-hide-caret px-2" style="cursor: pointer;" dropdownToggle>
							<span class="fa fa-lg fa-ellipsis-v"></span>
						</span>
						<ul *dropdownMenu class="dropdown-menu dropdown-menu-right mt-2">
							<li>
								<a class="dropdown-item" (click)="previewMessage(message)">Preview</a>
							</li>
							<li>
								<a class="dropdown-item" [routerLink]="['/admin/message', message._id]">Edit</a>
							</li>
							<li>
								<a class="dropdown-item" (click)="confirmDeleteMessage(message)">Delete</a>
							</li>
						</ul>
					</span>
				</td>
			</ng-template>

			<ng-template #tableNoResults>
				<h2 class="text-center">
					<small>No Messages matched your search</small>
				</h2>
			</ng-template>

			<ng-template #tableNoData>
				<h2 class="text-center">
					<small>No Messages available</small>
				</h2>
			</ng-template>

		</pageable-table>
	</div>
</section>
