<section>
	<h1 skipTo>
		System Feedback
	</h1>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<div class="pt-2">
		<pageable-table [items]="items"
						[hasItems]="hasItems"
						[pagingOptions]="pagingOptions"
						[showActions]="true"
						[tableStriped]="true"
						(pageChange)="pageEvent$.next($event)">

			<ng-template #tableActions>
				<asy-search-input placeholder="Search..." (applySearch)="searchEvent$.next($event)"></asy-search-input>
				<button type="button" class="btn btn-outline-secondary ml-auto" (click)="export()">
					<span class="fa fa-download"></span> Export
				</button>
			</ng-template>

			<ng-template #tableHeader>
				<th *ngFor="let header of headers">
					<sortable-table-header [header]="header" [currentSortField]="pagingOptions.sortField" [currentSortDir]="pagingOptions.sortDir" (sortChange)="sortEvent$.next($event)"></sortable-table-header>
				</th>
			</ng-template>

			<ng-template #tableRow let-feedback="item">
				<td>
					<div class="hide-overflow">{{ feedback?.creator?.name }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.creator?.email }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.type | titlecase }}</div>
				</td>
				<td>
					<div style="width: 300px; white-space: pre-wrap">{{ feedback?.body }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.url }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.browser }}</div>
				</td>
				<td>
					<div class="hide-overflow">{{ feedback?.os }}</div>
				</td>
				<td tooltip="{{ feedback?.created | utcDate }}" container="body" placement="top">
					<div class="hide-overflow">{{ feedback?.created | agoDate:false }}</div>
				</td>
			</ng-template>

			<ng-template #tableNoResults>
				<h2 class="text-center">
					<small>No Feedback matched your search</small>
				</h2>
			</ng-template>

			<ng-template #tableNoData>
				<h2 class="text-center">
					<small>No Feedback available</small>
				</h2>
			</ng-template>

		</pageable-table>

	</div>

</section>
