@import 'src/styles/colors';

$dropdown-min-width: 100px;

.dropdown-menu {
	min-width: $dropdown-min-width;
}

.feedback-body {
	width: 300px;
	white-space: pre-wrap;
}

.feedback-status-button {
	min-width: $dropdown-min-width;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
}

.feedback-status-new {
	border-color: $ux-color-alert-error;
	background-color: lighten($ux-color-alert-error, 50%);
}

.feedback-status-open {
	border-color: $ux-color-alert-notification;
	background-color: lighten($ux-color-alert-notification, 40%);
}

.feedback-status-closed {
	border-color: $ux-color-alert-success;
	background-color: lighten($ux-color-alert-success, 40%);
}
