<section class="page-header mb-3">
	<div class="row no-gutters">
		<div class="media col">
			<div class="media-body">
				<h1 skipTo>Audit Logs</h1>
				Browse and search audit logs.
			</div>
		</div>
	</div>
	<system-alert></system-alert>
</section>

<section class="page-body anchored-page-body">
	<div class="table-content">
		<table cdk-table [dataSource]="dataSource" asySort asyFilter class="table table-striped">
			<ng-container cdkColumnDef="actor">
				<th cdk-header-cell asy-sort-header="audit.actor.name" *cdkHeaderCellDef>
					<span class="fa-solid fa-user"></span>
					Actor
					<asy-header-filter typeahead-filter audit-actor-filter></asy-header-filter>
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					<asy-audit-component
						[auditObject]="entry.audit.actor"
						auditType="user"
					></asy-audit-component>
				</td>
			</ng-container>
			<ng-container cdkColumnDef="created">
				<th cdk-header-cell asy-sort-header *cdkHeaderCellDef>
					<span class="fa-solid fa-clock"></span>
					Timestamp
					<asy-header-filter date-filter></asy-header-filter>
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					{{ entry?.created | utcDate }}
				</td>
			</ng-container>
			<ng-container cdkColumnDef="audit.action">
				<th cdk-header-cell asy-sort-header *cdkHeaderCellDef>
					<span class="fa-solid fa-mouse-pointer"></span>
					Action
					<asy-header-filter
						list-filter
						audit-distinct-value-filter
						[showSearch]="true"
					></asy-header-filter>
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					{{ entry?.audit?.action }}
				</td>
			</ng-container>
			<ng-container cdkColumnDef="audit.auditType">
				<th cdk-header-cell asy-sort-header="audit.auditType" *cdkHeaderCellDef>
					<span class="fa-solid fa-tag"></span>
					Type
					<asy-header-filter
						list-filter
						audit-distinct-value-filter
						[showSearch]="true"
					></asy-header-filter>
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					{{ entry?.audit?.auditType }}
				</td>
			</ng-container>
			<ng-container cdkColumnDef="object">
				<th cdk-header-cell asy-sort-header *cdkHeaderCellDef>Object</th>
				<td cdk-cell *cdkCellDef="let entry" class="hide-overflow">
					<asy-audit-component
						[auditObject]="entry.audit.object?.after ?? entry.audit.object"
						[auditType]="entry.audit.auditType"
					></asy-audit-component>
					<div>
						<small *ngIf="entry.isViewDetailsAction">
							<a
								class="btn-icon no-href"
								[hidden]="(entry.audit.object ?? null) === null"
								(click)="viewMore(entry, 'viewDetails')"
							>
								<span class="fa-solid fa-eye"></span><span>View Details</span>
							</a>
						</small>
						<small style="opacity: 0.5" *ngIf="entry.audit.action === 'save'"
							><span>No Changes Detected</span></small
						>
					</div>
				</td>
			</ng-container>
			<ng-container cdkColumnDef="before">
				<th cdk-header-cell asy-sort-header *cdkHeaderCellDef>
					<span class="fa-solid fa-history"></span>
					Before
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="hide-overflow">
					<asy-audit-component
						[auditObject]="entry.audit.object?.before"
						[auditType]="entry.audit.auditType"
					></asy-audit-component>
					<div>
						<small *ngIf="entry.isViewChangesAction">
							<a
								class="btn-icon no-href"
								[hidden]="(entry.audit.object?.before ?? null) === null"
								tooltip="See details of the update"
								placement="bottom"
								container="body"
								(click)="viewMore(entry, 'viewChanges')"
							>
								<span class="fa-solid fa-eye"></span><span>View Changes</span>
							</a>
						</small>
						<small style="opacity: 0.5" *ngIf="entry.audit.action === 'save'"
							><span>No Changes Detected</span></small
						>
					</div>
				</td>
			</ng-container>
			<ng-container cdkColumnDef="message">
				<th cdk-header-cell asy-sort-header *cdkHeaderCellDef>
					<span class="fa-solid fa-file-text"></span>
					Message
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					{{ entry?.message }}
				</td>
			</ng-container>
			<ng-container cdkColumnDef="masqueradingUser">
				<th cdk-header-cell *cdkHeaderCellDef>
					<span class="fa-solid fa-user-secret"></span>
					Masquerading User
				</th>
				<td cdk-cell *cdkCellDef="let entry" class="text-nowrap">
					{{ entry?.audit.masqueradingUser }}
				</td>
			</ng-container>
			<tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr cdk-row *cdkRowDef="let item; columns: displayedColumns"></tr>
		</table>

		<asy-table-empty-state
			emptyText="No audit logs are available."
			filteredText="No audit logs matched your search."
			[dataSource]="dataSource"
			(clearFilters)="clearFilters()"
		></asy-table-empty-state>
	</div>

	<div class="table-footer d-flex align-items-center">
		<div class="table-footer-pager ml-auto">
			<asy-paginator [dataSource]="dataSource"></asy-paginator>
		</div>
	</div>
</section>
