<section class="modal-header">
	<h2 class="modal-title">
		Give Feedback
	</h2>
	<button type="button" class="close"
			(click)="modalRef.hide()"
			tooltip="Close"
			placement="bottom"
			aria-label="Close">
		<span class="fa fa-times" aria-hidden="true"></span>
	</button>
</section>

<section class="modal-body">
	<form #submitFeedbackForm="ngForm">
		<h2 class="pb-2">What's on your mind?</h2>

		<div class="form-check pl-0">
			<input class="form-check-input" type="radio" name="type-option-radio" id="type-option-1"
				   value="General Feedback"
				   [(ngModel)]="feedback.type"
				   required>
			<label for="type-option-1" class="form-check-label mb-2">Ask a question or make a comment</label>
		</div>

		<ng-container *ngIf="feedback.type === 'General Feedback'">
			<ng-container *ngTemplateOutlet="textInput"></ng-container>
		</ng-container>

		<div class="form-check pl-0">
			<input type="form-check-input" type="radio" name="type-option-radio" id="type-option-2"
				   value="Feature Request"
				   [(ngModel)]="feedback.type"
				   required>
			<label for="type-option-2" class="form-check-label mb-2">Suggest a new feature</label>
		</div>

		<ng-container *ngIf="feedback.type === 'Feature Request'">
			<ng-container *ngTemplateOutlet="textInput"></ng-container>
		</ng-container>

		<div class="form-check pl-0">
			<input type="form-check-input" type="radio" name="type-option-radio" id="type-option-3"
				   value="Bug Report"
				   [(ngModel)]="feedback.type"
				   required>
			<label for="type-option-3" class="form-check-label mb-2">Report a bug/error</label>
		</div>

		<ng-container *ngIf="feedback.type === 'Bug Report'">
			<h3 class="pt-3 pb-2">What's the bug/error type?</h3>

			<div class="form-check pl-0">
				<input class="form-check-input" type="radio" name="subtype-option-radio" id="subtype-option-1"
					   value="Content or data"
					   [(ngModel)]="feedback.subType"
					   required>
				<label for="subtype-option-1" class="form-check-label mb-2">Content or data</label>
			</div>

			<div class="form-check pl-0">
				<input class="form-check-input" type="radio" name="subtype-option-radio" id="subtype-option-2"
					   value="Styling"
					   [(ngModel)]="feedback.subType"
					   required>
				<label for="subtype-option-2" class="form-check-label mb-2">Styling</label>
			</div>

			<div class="form-check pl-0">
				<input class="form-check-input" type="radio" name="subtype-option-radio" id="subtype-option-3"
					   value="Technical"
					   [(ngModel)]="feedback.subType"
					   required>
				<label for="subtype-option-3" class="form-check-label mb-2">Technical</label>
			</div>

			<div class="form-check pl-0">
				<input class="form-check-input" type="radio" name="subtype-option-radio" id="subtype-option-4"
					   value="Other"
					   [(ngModel)]="feedback.subType"
					   required>
				<label for="subtype-option-4" class="form-check-label mb-2">Other</label>
			</div>
			<div class="mb-2" *ngIf="feedback.subType === 'Other'">
				<input class="form-control" name="other-description"
					   [(ngModel)]="otherText" required/>
			</div>

			<div class="form-check pl-0">
				<input class="form-check-input" type="radio" name="subtype-option-radio" id="subtype-option-5"
					   value="Unsure"
					   [(ngModel)]="feedback.subType"
					   required>
				<label for="subtype-option-5" class="form-check-label mb-2">Unsure</label>
			</div>

			<h3 class="pt-2">What happened?</h3>
			<ng-container *ngTemplateOutlet="textInput"></ng-container>

		</ng-container>

		<ng-template #textInput>
			<div *ngIf="classificationOptions" class="form-group pt-2">
				<ng-select [items]="classificationOptions" [clearable]="false" bindLabel="level"
						   [(ngModel)]="feedback.classification" name="classification" required
						   placeholder="Select Classification" dropdownPosition="bottom">
				</ng-select>
			</div>

			<div class="form-group">
				<textarea
					name="feedbackText"
					class="form-control"
					style="height: 8rem;"
					[(ngModel)]="feedback.text"
					required
					placeholder="Enter Feedback">
				</textarea>
			</div>
		</ng-template>
	</form>
</section>

<section class="modal-footer">
	<div *ngIf="error" class="text-danger font-weight-bolder">
		{{ error }}
	</div>
	<div *ngIf="success" class="text-success font-weight-bolder">
		{{ success }}
	</div>
	<button type="button" class="btn btn-link mr-2" (click)="modalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-primary" [disabled]="submitting || !submitFeedbackForm.form.valid" (click)="submit()">Submit</button>
</section>
