@import '../../../styles/shared';

.notification-container {
	background-color: var(--bs-body-bg);
	border-radius: 3px 3px 3px 3px;
	margin: 10px 0;
	overflow: auto;
	padding: 10px;

	&.small {
		border-radius: 1px;
		font-size: 1rem;
		margin: 2px 0;
		padding: 5px;
	}
}

.action-text {
	transform: translate(0%, 25%);
}

.info-notification {
	@include border(var(--bs-info), 2px, 3px);
}

.success-notification {
	@include border(var(--bs-success), 2px, 3px);
}

.warning-notification {
	@include border(var(--bs-warning), 2px, 3px);
}

.danger-notification {
	@include border(var(--bs-danger), 2px, 3px);
}
