@import '../../../styles/shared';

.info-notification {
	@include border($ux-color-alert-notification, 2px, 3px);
	background: $ux-color-white;
}
.success-notification {
	@include border($ux-color-alert-success, 2px, 3px);
	background: $ux-color-white;
}
.warning-notification {
	@include border($ux-color-alert-warning, 2px, 3px);
	background: $ux-color-white;
}
.danger-notification {
	@include border($ux-color-alert-error, 2px, 3px);
	background: $ux-color-white;
}

.action-text {
	transform: translate(0%, 25%);
}
.notification-container {
	border-radius: 3px 3px 3px 3px;
	margin: 10px 0;
	overflow: auto;
	padding: 10px;

	&.small {
		border-radius: 1px;
		font-size: 1rem;
		margin: 2px 0;
		padding: 5px;
	}
}
