@import '../../../../../styles/shared';

button {
	background: inherit;
	border: none;
	font: inherit;
	padding-top: 0;
	padding-bottom: 0;
}

.fa-solid {
	opacity: 0.3;

	&.sorted {
		color: var(--bs-body-color);
		opacity: 1;
	}
}

.fa-stack {
	font-size: 1rem;
	height: 6px;
	line-height: 2px;
	width: 22px;
}

.asy-sort-header-sortable {
	cursor: pointer;
	padding-right: 5px;
}
