<span class="dropdown ml-2" container="body" [insideClick]="true" dropdown>
	<span class="dropdown-toggle dropdown-toggle-hide-caret" dropdownToggle>
		<span
			[hidden]="isFiltered"
			class="filter fa fa-list"
			tooltip="Apply Filters"
			placement="bottom"
			container="body"
		></span>
		<span
			[hidden]="!isFiltered"
			class="filter fa fa-filter"
			tooltip="Edit Filters"
			placement="bottom"
			container="body"
		></span>
	</span>

	<div
		*dropdownMenu
		class="dropdown-menu d-flex flex-column"
		[ngClass]="{ 'dropdown-menu-right': dropdownMenuRight }"
	>
		<ng-container *ngIf="showSearch">
			<div class="search mt-2">
				<asy-search-input
					placeholder="Search..."
					(applySearch)="onSearchOptions($event)"
					[search]="search"
				>
				</asy-search-input>
			</div>
			<div class="divider dropdown-divider mb-0 mx-3"></div>
		</ng-container>
		<ng-container *ngIf="isFiltered">
			<div class="clear mt-2">
				<a style="cursor: pointer" (click)="clearFilter(); $event.stopPropagation()"
					><u>Clear Filters</u></a
				>
			</div>
			<div class="divider dropdown-divider mb-0 mx-3"></div>
		</ng-container>
		<div class="flex-grow-1 overflow-auto my-2">
			<ng-container *ngFor="let option of _options">
				<div *ngIf="!option.hide" class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						id="filter-{{ id }}-option-{{ option.value }}"
						[(ngModel)]="option.active"
						[ngModelOptions]="{ standalone: true }"
						(ngModelChange)="onFilterChange()"
					/>
					<label
						class="form-check-label"
						for="filter-{{ id }}-option-{{ option.value }}"
						>{{ option.display }}</label
					>
				</div>
			</ng-container>
		</div>
		<ng-container *ngIf="showMatch">
			<div class="divider dropdown-divider my-0 mx-3"></div>
			<div class="my-1">
				<label class="mb-0 mr-3">Match:</label>
				<div
					class="form-check form-check-inline"
					*ngFor="let operatorOption of [false, true]; index as i"
				>
					<input
						class="form-check-input"
						type="radio"
						name="operator-option-radio"
						id="operator-option-{{ i }}"
						[value]="operatorOption"
						[(ngModel)]="matchAll"
						(ngModelChange)="onFilterChange()"
					/>
					<label class="form-check-label" for="operator-option-{{ i }}">{{
						operatorOption ? 'All' : 'Any'
					}}</label>
				</div>
			</div>
		</ng-container>
	</div>
</span>
