<button
	class="dropdown-toggle dropdown-toggle-hide-caret"
	cdkOverlayOrigin
	#trigger
	(click)="isOpen = !isOpen"
>
	<span
		class="filter fa-solid fa-list"
		container="body"
		placement="bottom"
		tooltip="Apply Filters"
		[hidden]="isFiltered"
	></span>
	<span
		class="filter fa-solid fa-filter"
		container="body"
		placement="bottom"
		tooltip="Edit Filters"
		[hidden]="!isFiltered"
	></span>
</button>

<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOpen]="isOpen"
	[cdkConnectedOverlayOrigin]="trigger"
	(overlayOutsideClick)="isOpen = false"
>
	<div class="dropdown-menu d-flex flex-column" cdkTrapFocus cdkTrapFocusAutoCapture>
		@if (showSearch) {
			<div class="search mt-2">
				<asy-search-input
					placeholder="Search..."
					[search]="search"
					(applySearch)="onSearchOptions($event)"
				>
				</asy-search-input>
			</div>
			<div class="divider dropdown-divider mb-0 mx-3"></div>
		}
		@if (isFiltered) {
			<div class="clear mt-2">
				<button
					class="btn btn-sm btn-link px-0 text-decoration-underline"
					(click)="clearFilter(); $event.stopPropagation()"
				>
					Clear Filters
				</button>
			</div>
			<div class="divider dropdown-divider mb-0 mx-3"></div>
		}
		<div class="flex-grow-1 overflow-auto my-2">
			@for (option of _options; track option) {
				@if (!option.hide) {
					<div class="form-check">
						<input
							class="form-check-input"
							id="filter-{{ id }}-option-{{ option.value }}"
							type="checkbox"
							[(ngModel)]="option.active"
							[ngModelOptions]="{ standalone: true }"
							(ngModelChange)="onFilterChange()"
						/>
						<label
							class="form-check-label"
							for="filter-{{ id }}-option-{{ option.value }}"
							>{{ option.display }}</label
						>
					</div>
				}
			}
		</div>
		@if (showMatch) {
			<div class="divider dropdown-divider my-0 mx-3"></div>
			<div class="my-1">
				<label class="mb-0 mr-3">Match:</label>
				@for (operatorOption of [false, true]; track operatorOption; let i = $index) {
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							id="operator-option-{{ i }}"
							name="operator-option-radio"
							type="radio"
							[value]="operatorOption"
							[(ngModel)]="matchAll"
							(ngModelChange)="onFilterChange()"
						/>
						<label class="form-check-label" for="operator-option-{{ i }}">{{
							operatorOption ? 'All' : 'Any'
						}}</label>
					</div>
				}
			</div>
		}
	</div>
</ng-template>
