<section class="page-header mb-3">
	<div>
		<h1 skipTo>EUAs</h1>
		View and manage end user agreements.
	</div>
	<system-alert></system-alert>
</section>

<section class="page-body anchored-page-body">
	<div class="table-header d-flex align-items-center">
		<div class="table-actions d-flex flex-wrap flex-grow-1">
			<div class="mb-3 me-5">
				<asy-search-input
					placeholder="Search..."
					[search]="dataSource.searchEvent$.value"
					(applySearch)="dataSource.search($event)"
				></asy-search-input>
			</div>

			<div class="mb-3 ms-auto">
				<button class="btn btn-primary ms-auto" type="button" routerLink="/admin/eua">
					<span class="fa-solid fa-plus"></span> Create EUA
				</button>

				<button
					class="btn btn-outline-primary font-weight-bold ms-3"
					type="button"
					tooltip="Set Columns"
					(click)="sidebar.toggle()"
				>
					<span class="fa-solid fa-columns"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="d-flex overflow-hidden">
		<div class="table-content">
			<table
				class="table table-striped"
				asyFilter
				asySort
				cdk-table
				[dataSource]="dataSource"
			>
				<asy-text-column name="_id" header="ID" [sortable]="false"></asy-text-column>
				<ng-container cdkColumnDef="title">
					<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Title</th>
					<td class="hide-overflow" cdk-cell *cdkCellDef="let eua">
						<a [routerLink]="['/admin/eua', eua._id]">{{ eua.title }}</a>
					</td>
				</ng-container>
				<ng-container cdkColumnDef="text">
					<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Text</th>
					<td class="hide-overflow" cdk-cell *cdkCellDef="let eua">
						{{ eua.text }}
					</td>
				</ng-container>
				<asy-date-column name="created"></asy-date-column>
				<asy-date-column name="published"></asy-date-column>
				<asy-date-column name="updated"></asy-date-column>
				<ng-container cdkColumnDef="actionsMenu" stickyEnd>
					<th cdk-header-cell *cdkHeaderCellDef></th>
					<td
						cdk-cell
						container="body"
						dropdown
						placement="bottom right"
						*cdkCellDef="let eua"
					>
						<button
							class="btn dropdown-toggle dropdown-toggle-hide-caret shadow-none py-0 ps-3"
							id="eua-{{ eua._id }}-action-menu-btn"
							type="button"
							attr.aria-controls="eua-{{ eua._id }}-action-menu"
							[cdkMenuTriggerFor]="actionsMenu"
						>
							<span class="fa-solid fa-lg fa-ellipsis-v"></span>
						</button>
						<ng-template #actionsMenu>
							<div
								class="dropdown-menu py-0"
								id="eua-{{ eua._id }}-action-menu"
								attr.aria-labelledby="eua-{{ eua._id }}-action-menu-btn"
								cdkMenu
							>
								<button
									class="dropdown-item"
									cdkMenuItem
									[routerLink]="['/admin/eua', eua._id]"
								>
									Edit
								</button>
								<button
									class="dropdown-item"
									cdkMenuItem
									(click)="previewEndUserAgreement(eua)"
								>
									Preview
								</button>
								<button class="dropdown-item" cdkMenuItem (click)="publishEua(eua)">
									Publish
								</button>
								<button
									class="dropdown-item"
									cdkMenuItem
									(click)="confirmDeleteEua(eua)"
								>
									Delete
								</button>
							</div>
						</ng-template>
					</td>
				</ng-container>

				<tr cdk-header-row *cdkHeaderRowDef="displayedColumns(); sticky: true"></tr>
				<tr cdk-row *cdkRowDef="let team; columns: displayedColumns()"></tr>
			</table>

			<asy-table-empty-state
				emptyText="No EUAs are available."
				filteredText="No EUAs matched your search."
				[dataSource]="dataSource"
				(clearFilters)="clearFilters()"
			></asy-table-empty-state>
		</div>

		<asy-sidebar headerText="Columns" #sidebar>
			<asy-column-chooser
				[columns]="columns"
				[storageKey]="dataSource.storageKey"
				(columnsChange)="columnsChanged($event)"
			></asy-column-chooser>
		</asy-sidebar>
	</div>

	<div class="table-footer d-flex align-items-center">
		<div class="table-footer-pager ms-auto">
			<asy-paginator [dataSource]="dataSource"></asy-paginator>
		</div>
	</div>
</section>
