@import '../../../../styles/colors';
@import '../../../../styles/typography';

.quick-select {
	margin-bottom: 1rem;
	padding: 15px 15px 10px;

	.collapsible {
		cursor: pointer;
	}

	.quick-select-title {
		@include font-bold(16px);
		line-height: 16px;
	}

	input {
		margin-right: 5px;
	}

	label {
		margin-bottom: 0;
	}
}
