<section>
	<!-- Search Input -->
	<div class="d-flex mb-3 align-items-center">
		<asy-search-input placeholder="Search..." (applySearch)="searchEvent$.next($event)"></asy-search-input>
		<button *ngIf="canManageTeam" (click)="addMembers()" type="button" class="btn btn-primary ml-auto">
			<span class="fa fa-plus"></span> Add New
		</button>
	</div>

	<pageable-table [items]="items" [hasItems]="hasItems" [pagingOptions]="pagingOptions" [tableStriped]="true" (pageChange)="pageEvent$.next($event)">
		<ng-template #tableHeader>
			<th *ngFor="let header of headersToShow">
				<sortable-table-header [header]="header" [currentSortField]="pagingOptions.sortField" [currentSortDir]="pagingOptions.sortDir" (sortChange)="sortEvent$.next($event)"></sortable-table-header>
			</th>
		</ng-template>

		<ng-template #tableRow let-member="item">
			<!-- Name -->
			<td>
				<div>{{ member.userModel.name }}</div>
			</td>

			<!-- Username -->
			<td>
				<div>{{ member.userModel.username }}</div>
			</td>

			<!-- Active -->
			<td>
				<div>{{ member.active ? 'Active': 'Not Active' }}</div>
			</td>

			<!-- Role -->
			<td>
				<div *ngIf="!canManageTeam">{{ member.roleDisplay }}</div>
				<ng-container *ngIf="canManageTeam">
					<div class="dropdown dropdown-table-inline" dropdown container="body">
						<span class="dropdown-toggle" dropdownToggle>
							<span class="mr-1">{{ member.roleDisplay }}</span>
						</span>

						<ul *dropdownMenu class="dropdown-menu" role="menu">
							<li *ngFor="let role of teamRoleOptions" [value]="role.role" (click)="updateRole(member, role.role)">
								<a class="dropdown-item">{{ role.label }}</a>
							</li>
						</ul>
					</div>
				</ng-container>
			</td>

			<!-- Delete -->
			<td *ngIf="canManageTeam && member.explicit">
				<a class="btn-icon"
				   tooltip="Remove Member"
				   container="body"
				   placement="bottom"
				   (click)="removeMember(member)">
					<span class="fa fa-lg fa-trash"></span>
				</a>
			</td>
		</ng-template>

		<ng-template #tableNoResults>
			<h2 class="text-center">
				<small>No team members matched your search</small>
			</h2>
		</ng-template>

		<ng-template #tableNoData>
			<h2 class="text-center">
				<small>There are no members on this team. Read our <a [routerLink]="['/help/teams']">help page</a> for more details.</small>
			</h2>
		</ng-template>

	</pageable-table>

</section>
