@import 'styles/shared';
@import 'styles/display';
@import 'styles/links';
@import 'styles/selection';

/* You can add global styles to this file, and also import other style files */

// Import the main ngx-bootstrap style file
@import 'styles/ngx-bootstrap';

// Import the main ng-select style file
@import 'styles/ng-select';

body {
	@include font-normal();
	@include font-color-dark($ux-color-body-text);

	background: $ux-color-background;

	padding: 0;
	margin: 0;
	min-height: 100%;
	overflow: hidden;
}

html {
	min-height: 100%;
}

@if $form-required == before {
	.form-required:before {
		content: '*';
		color: $red;
		padding-right: 3px;
	}
} @else if $form-required == after {
	.form-required:after {
		content: '*';
		color: $red;
		padding-left: 3px;
	}
}

.back-link,
.text-decoration-underline {
	text-decoration: underline;
}

// Adds ellipsis to any DOM element that is too long
.hide-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.dropdown-menu {
		bottom: inherit;
		left: inherit;
		position: inherit;
		right: inherit;
		top: inherit;
	}
}

// when the .skip-to class is applied to non-interactive
// elements it should not have a style when focused
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	&.skip-to:focus {
		outline: 0;
	}
}

.user-role-external::after {
	content: '(external)';
}
