@import './app/theme/fonts';

/* You can add global styles to this file, and also import other style files */

// Import the main ngx-bootstrap style file
@import './app/theme/ngx-bootstrap';

// Import the shared site theme style file
@import './app/theme/shared';

body {
	@include font-normal();
	@include font-color-dark();

	padding: 0;
	margin: 0;
	min-height: 100%;
}

html {
	min-height: 100%;
}
