<section class="page-header mb-3" *ngIf="!embedded">
	<div class="row no-gutters">
		<div class="media col">
			<div class="media-body">
				<h1 skipTo>Teams</h1>
				View and manage team membership and roles.
			</div>
		</div>
	</div>
	<system-alert></system-alert>
</section>

<section [class.anchored-page-body]="!embedded" [class.page-body]="!embedded">
	<div class="table-header d-flex align-items-center">
		<div class="table-actions d-flex flex-wrap flex-grow-1">
			<div class="mb-3 mr-5">
				<asy-search-input
					placeholder="Search teams..."
					[search]="dataSource.searchEvent$.value"
					(applySearch)="dataSource.search($event)"
				></asy-search-input>
			</div>

			<div class="mb-3 ml-auto">
				<button
					class="btn btn-primary ml-auto"
					type="button"
					*ngIf="canCreateTeam"
					[queryParams]="{ parent: parent?._id }"
					[routerLink]="['/team/create']"
				>
					<span class="fa-solid fa-plus"></span> Create Team
				</button>
			</div>
		</div>
	</div>

	<div class="table-content">
		<table class="table table-striped" asyFilter asySort cdk-table [dataSource]="dataSource">
			<ng-container cdkColumnDef="name">
				<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Name</th>
				<td class="text-nowrap" cdk-cell *cdkCellDef="let team">
					<a class="text-decoration-underline" [routerLink]="['/team', team._id]">{{
						team.name
					}}</a>
				</td>
			</ng-container>
			<ng-container cdkColumnDef="created">
				<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Created</th>
				<td cdk-cell *cdkCellDef="let team">
					<div
						class="text-nowrap"
						container="body"
						tooltip="{{ team.created | utcDate }}"
					>
						{{ team.created | agoDate }}
					</div>
				</td>
			</ng-container>
			<ng-container cdkColumnDef="description">
				<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Description</th>
				<td cdk-cell *cdkCellDef="let team">
					{{ team.description }}
				</td>
			</ng-container>
			<tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr cdk-row *cdkRowDef="let team; columns: displayedColumns"></tr>
		</table>

		<asy-table-empty-state
			emptyText="No {{ parent ? 'sub-teams' : 'teams' }} are available."
			filteredText="No {{ parent ? 'sub-teams' : 'teams' }} matched your search."
			[dataSource]="dataSource"
			(clearFilters)="clearFilters()"
		></asy-table-empty-state>
	</div>

	<div class="table-footer d-flex align-items-center">
		<div class="table-footer-pager ml-auto">
			<asy-paginator [dataSource]="dataSource"></asy-paginator>
		</div>
	</div>
</section>
