@import '../../../styles/shared';
@import '../../../styles/bootstrap/shared';

//=====================================
//	Callouts
//=====================================
::ng-deep .callout {
	border: 1px solid var(--bs-info);
	border-left-width: 5px;
	margin: $spacer  0;
	padding: $spacer * 1.5;

	h4 {
		margin-bottom: $spacer * 1.5;
		margin-top: 0;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	// Variations
	&.callout-danger {
		border-color: var(--bs-danger);
	}

	&.callout-warning {
		border-color: var(--bs-warning);
	}
}
