<section>
	<h2>
		EUAs
		<small>Administer End User Agreements</small>
		<button [routerLink]="['/admin/eua']" type="button" class="btn btn-sm btn-primary float-right">
			<span class="fa fa-plus"></span> Create EUA
		</button>
	</h2>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<div class="row pt-2">
		<div class="col-md-2">
			<!-- Column Selector -->
			<quick-column-toggle [filters]="columns" [defaultFilters]="defaultColumns" (filtersChange)="columnsUpdated($event)"></quick-column-toggle>
		</div>
		<div class="col-md-10">
			<!-- Search Input -->
			<search-table (applySearch)="onSearch($event)"></search-table>

			<pageable-table [items]="euas"
				[pagingOptions]="pagingOpts"
				(onPageChange)="goToPage($event)"
				(onSortChange)="setSort($event)">

				<ng-template named-template="table-header">
					<th *ngFor="let header of headersToShow">
						<sortable-table-header [header]="header" [currentSortField]="pagingOpts.sortField" [currentSortDir]="pagingOpts.sortDir" (onSortChange)="setSort($event)"></sortable-table-header>
					</th>
					<th>&nbsp;</th>
				</ng-template>

				<ng-template named-template="table-row" let-eua let-i="index">
					<td [hidden]="!columns._id.show">{{eua.euaModel._id}}</td>
					<td [hidden]="!columns.title.show">
						<div class="hide-overflow" style="max-width:400px;">{{eua.euaModel.title}}</div>
						</td>
					<td [hidden]="!columns.text.show">
						<div class="hide-overflow" style="max-width:400px;">{{eua.euaModel.text}}</div>
					</td>
					<td [hidden]="!columns.created.show">{{ eua.euaModel.created | utcDate }}</td>
					<td [hidden]="!columns.updated.show">{{ eua.euaModel.updated | utcDate }}</td>
					<td [hidden]="!columns.published.show">{{ eua.euaModel.published | utcDate }}</td>

					<td style="width: 120px;">
						<div class="btn-group btn-group-sm float-right">
							<button title="Edit" [routerLink]="['/admin/eua',eua.euaModel._id]"
								type="button" class="btn btn-outline-secondary">
								<span class="fa fa-edit"></span>
							</button>
							<button title="Publish" (click)="publishEua(eua)"
								type="button" class="btn btn-primary">
								<span class="fa fa-share-square-o"></span>
							</button>
							<button title="Delete" (click)="confirmDeleteEua(eua)"
								type="button" class="btn btn-danger">
								<span class="fa fa-trash-o"></span>
							</button>
						</div>
					</td>
				</ng-template>

				<ng-template named-template="empty-table">
					<h2>
						<small>No End User Agreements? Either there were no EUAs that matched your search or there are no EUAs in the system.</small>
					</h2>
				</ng-template>
			</pageable-table>
		</div>
	</div>
</section>
