<section>
	<!-- Show a breadcrumb to the list EUAs page -->
	<a class="back-link" [routerLink]="['/admin/euas']">
		<span class="fa-solid fa-angle-double-left"></span> Back to EUAs
	</a>

	<!-- Alert Notifications -->
	<system-alert></system-alert>

	<form
		class="pt-3"
		name="euaForm"
		role="form"
		autocomplete="off"
		novalidate
		#form="ngForm"
		(ngSubmit)="submitEua()"
	>
		<h1>
			{{ title }}
			<small>{{ subtitle }}</small>
		</h1>

		<!-- Basic Information -->
		<div class="form-group">
			<label class="form-required" for="title">Title of the Agreement</label>
			<div>
				<input
					class="form-control"
					id="title"
					name="title"
					type="text"
					required
					[(ngModel)]="eua.title"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="form-required" for="text">Text Content of the Agreement</label>
			<div>
				<textarea
					class="form-control"
					id="text"
					name="text"
					required
					rows="15"
					[(ngModel)]="eua.text"
				></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="text-right">
				<button class="btn btn-link mr-2" type="button" [routerLink]="['/admin/euas']">
					Cancel
				</button>
				<button class="btn btn-outline-secondary mr-2" type="button" (click)="previewEua()">
					Preview
				</button>
				<button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">
					{{ submitText }}
				</button>
			</div>
		</div>

		<div class="form-group" *ngIf="error">
			<div class="text-right text-danger font-weight-bolder">{{ error }}</div>
		</div>
	</form>
</section>
