<section class="page-header mb-3">
	<div class="row g-0">
		<div class="media col">
			<div class="media-body">
				<h1 skipTo>Messages</h1>
				View and manage messages.
			</div>
		</div>
	</div>
	<system-alert></system-alert>
</section>

<section class="page-body anchored-page-body">
	<div class="table-header d-flex align-items-center">
		<div class="table-actions d-flex flex-wrap flex-grow-1">
			<div class="mb-3 me-5">
				<asy-search-input
					placeholder="Search..."
					[search]="dataSource.searchEvent$.value"
					(applySearch)="dataSource.search($event)"
				></asy-search-input>
			</div>

			<div class="mb-3 ms-auto">
				<button
					class="btn btn-primary ms-auto"
					type="button"
					[routerLink]="['/admin/message/']"
				>
					<span class="fa-solid fa-plus"></span> Create Message
				</button>
			</div>
		</div>
	</div>

	<div class="table-content">
		<table class="table table-striped" asyFilter asySort cdk-table [dataSource]="dataSource">
			<ng-container cdkColumnDef="title">
				<th asy-sort-header cdk-header-cell *cdkHeaderCellDef>Title</th>
				<td cdk-cell *cdkCellDef="let message">
					<a [routerLink]="['/admin/message', message._id]">{{ message.title }}</a>
				</td>
			</ng-container>
			<asy-text-column name="type"></asy-text-column>
			<ng-container cdkColumnDef="body">
				<th cdk-header-cell *cdkHeaderCellDef>Body</th>
				<td class="hide-overflow" cdk-cell *cdkCellDef="let message">
					{{ message.body }}
				</td>
			</ng-container>
			<asy-date-column name="created"></asy-date-column>
			<asy-date-column name="updated"></asy-date-column>
			<ng-container cdkColumnDef="actionsMenu" stickyEnd>
				<th cdk-header-cell *cdkHeaderCellDef></th>
				<td cdk-cell *cdkCellDef="let message">
					<button
						class="btn dropdown-toggle dropdown-toggle-hide-caret shadow-none py-0 ps-3"
						id="message-{{ message._id }}-action-menu-btn"
						type="button"
						attr.aria-controls="message-{{ message._id }}-action-menu"
						[cdkMenuTriggerFor]="actionsMenu"
					>
						<span class="fa-solid fa-lg fa-ellipsis-v"></span>
					</button>
					<ng-template #actionsMenu>
						<div
							class="dropdown-menu py-0"
							id="message-{{ message._id }}-action-menu"
							attr.aria-labelledby="message-{{ message._id }}-action-menu-btn"
							cdkMenu
						>
							<a
								class="dropdown-item"
								cdkMenuItem
								[routerLink]="['/admin/message', message._id]"
								>Edit</a
							>
							<a
								class="dropdown-item"
								cdkMenuItem
								(cdkMenuItemTriggered)="previewMessage(message)"
								>Preview</a
							>
							<a
								class="dropdown-item"
								cdkMenuItem
								(cdkMenuItemTriggered)="confirmDeleteMessage(message)"
								>Delete</a
							>
						</div>
					</ng-template>
				</td>
			</ng-container>
			<tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr cdk-row *cdkRowDef="let team; columns: displayedColumns"></tr>
		</table>

		<asy-table-empty-state
			emptyText="No messages are available."
			filteredText="No messages matched your search."
			[dataSource]="dataSource"
			(clearFilters)="clearFilters()"
		></asy-table-empty-state>
	</div>

	<div class="table-footer d-flex align-items-center">
		<div class="table-footer-pager ms-auto">
			<asy-paginator [dataSource]="dataSource"></asy-paginator>
		</div>
	</div>
</section>
